[2014-12-31 17:37] kencochrane opened #1 "add to pypi"
once stable upload to pypi for easy installing

[2014-12-31 17:37] kencochrane opened #2 "add better documentation"
Right now we have a readme, it would be nice to have better documentation and add it to readthedocs.org

[2014-12-31 17:38] kencochrane opened #3 "add more unit tests"
there are some unit tests now, but it would be good to add more, and improve the code coverage.

[2014-12-31 17:39] kencochrane opened #4 "add to CI server to run unit tests automatically"
it would be nice to add this to one of the CI services that allow free unit test running for open source projects, so we can make sure all tests always pass.

[2014-12-31 17:41] kencochrane opened #5 "add support for different backends"
Right now we only support redis, but it would be nice to have pluggable backends where people can use something other then redis, assuming it supports all the features we need.

[2014-12-31 17:43] kencochrane opened #6 "add admin pages"
it would be nice to have a set of admin pages where you can manage the list of currently blocked users, and remove from the list, or manually add people to it. Also browse the recent logins.

[2015-01-01 16:44] kencochrane commented on #4
done

[2015-01-01 16:44] #4 closed

[2015-01-04 16:47] kencochrane opened #13 "test performance"
We need to test how defender compares against axes and not using anything, and post the results.

[2015-01-04 16:49] kencochrane opened #14 "add south migration"
right now we don't have any migrations, which is ok, but if we decide to change the database model it will make it a pain, we should add south migrations so that we can handle this issue in the future easily.

Needs to be compatible with Django 1.7 as well.

[2015-01-05 00:14] marcusmartins commented on #13
On somewhat related topic I just started benchmarking PR #12. I wanted to check publishing to rabbitmq performance vs writing directly to db.

[2015-01-05 23:40] kencochrane commented on #13
@marcusmartins can you post any results you might have?

[2015-01-05 23:52] marcusmartins commented on #14
I can submit a PR for this shortly

[2015-01-05 23:53] kencochrane commented on #14
@marcusmartins great thanks.

[2015-01-05 23:54] kencochrane opened #15 "make writing login attempt logs optional"
We should add a config option that will enable/disable the writing of the login attempt to the database, so that people can turn this feature off if they don't want it.

[2015-01-05 23:56] marcusmartins opened #16 "Relax django version pinning"
Currenly setup.py pins the django version to 1.6.8. We should relax that requirement so we only require the django major version 1.6.x.

[2015-01-05 23:56] marcusmartins commented on #16
I will submit a PR for this.

[2015-01-06 02:06] #16 closed

[2015-01-06 17:44] #14 closed

[2015-01-12 21:40] kencochrane opened #23 "remove ViewDecoratorMiddleware"
I don't think we need ``ViewDecoratorMiddleware``, by removing this, it keeps the code small, and makes it easier to maintain. if we are going to remove it, best to do it now.

@shin- @marcusmartins  what do you think?

[2015-01-12 21:56] shin- commented on #23
I don't mind.

[2015-01-13 00:54] marcusmartins commented on #23
Sounds good to me

[2015-01-28 22:53] marcusmartins opened #26 "Invalid fields when views a AccessAttempt instance on Django Admin"
AccessAttemptAdmin() class references existing fields when viewing a AccessAttempt instance on the django admin interface.

[code]

https://github.com/kencochrane/django-defender/blob/master/defender/admin.py#L37

[2015-02-01 15:18] kencochrane commented on #23
done

[2015-02-01 15:18] #23 closed

[2015-02-01 15:18] kencochrane commented on #6
done with #25

[2015-02-01 15:18] #6 closed

[2015-02-01 15:19] kencochrane commented on #26
@marcusmartins Can we close this?

[2015-02-02 03:56] #26 closed

[2015-02-15 21:40] kencochrane commented on #1
Done

[2015-02-15 21:40] #1 closed

[2015-02-15 21:40] kencochrane commented on #3
At 95%

[2015-02-15 21:40] #3 closed

[2015-02-24 20:05] tclancy opened #31 "Package is not installable via pip"
I can see django-defender with `pip search defender` but installation fails saying no package meets the requirements as [none are listed here](https://pypi.python.org/simple/django-defender/).

[2015-02-24 20:32] kencochrane commented on #31
Sorry about that, there was an error during the upload of the original package. you should be able to see them available now. 0.1.1 is the latest.

https://pypi.python.org/simple/django-defender/

[2015-02-24 20:32] #31 closed

[2015-02-24 20:33] tclancy commented on #31
Perfect, thanks!

[2015-02-24 21:20] mmetince opened #32 "IP Restriction Bypass Issue"
https://www.mehmetince.net/bypassing-django-defender-ip-based-trackban/

[2015-02-24 21:35] kencochrane commented on #32
Thanks for letting me know. It looks like the same issue affects django-axes as well.

https://github.com/django-pci/django-axes/blob/master/axes/decorators.py#L87-L129

Any suggestions on best way to fix?

[2015-02-24 21:49] mmetince commented on #32
Your welcome @kencochrane . I think we are dealing with 2 different situation here. First one is using socket module for IP validation which is can done easily with regular expression. Second thing is trusting XFF data.

I suggest you to use directly tcp source ip address rather than XFF or any other kind of Header variables because of any of them can easily spoof  by attacker. If you choose this

[2015-02-25 16:03] tclancy commented on #31
The pip install does not include the subfolders. Think you want to add the following to `setup.py`:

[code]

[2015-02-25 16:23] kencochrane commented on #31
@tclancy thanks, how does this look? https://github.com/kencochrane/django-defender/pull/33/files#diff-2eeaed663bd0d25b7e608891384b7298R40

[2015-02-25 16:24] tclancy commented on #31
Looks right to me, thanks. Sorry, I should be providing these as pull requests but you're responding too quickly.

[2015-02-27 14:54] kencochrane commented on #32
@mmetince do you feel this issue can be closed now with the release of 0.2?

[2015-02-27 15:19] mmetince commented on #32
Yes I do. I'm closing it @kencochrane

[2015-02-27 15:19] #32 closed

[2015-03-12 16:18] kencochrane opened #35 "Admin page for accessAttempts is slow to load when lots of records"
With 30M rows the access Attempts admin page doesn't load since the page takes too long, and times out. This is because there are filters that try and list all of the ip addresses and usernames, etc. Best to remove those, since they aren't very helpful when you are dealing with that many records.

[2015-03-12 16:19] kencochrane opened #36 "Create a management command that will clean up the access attempts table"
The access attempts table could get very big if you have lots of login attempts. We should create a management command that will take a parameter that will delete any records older then X number of days. This will allow us to keep the table size down.

[2015-03-24 18:51] #35 closed

[2015-03-24 18:51] #36 closed

[2015-04-08 01:15] eltonplima opened #39 "Custom login view."
How to make the defender work on a custom login view?

Thanks!

[2015-04-08 12:34] kencochrane commented on #39
you could wrap your custom login in your ``urls.py`` like this.

[code]

You might be able to just add the decorator directly on the ``custom_login`` view, but haven't tested that yet.

[code]

[2015-04-08 18:21] eltonplima commented on #39
Works perfect!!!

Just an observation: the watch_login dont need the parenthesis.

Thanks!!!

[2015-04-08 18:21] #39 closed

[2015-04-08 18:37] kencochrane commented on #39
@eltonplima cool, thanks, sorry for the typo, I wrote it from memory in the github issue, it wasn't an actual code snippet.  We should add this to the docs so others know about it as well.

[2015-04-11 12:03] andybak commented on #5
I'd be very interested in a backend that introduced no external dependencies. As much as redis is a good 'go to' I've got a bunch of websites I'd like to retrofit defender to with minimal complexity.

So - database, filesystem or locmem would be handy.

Could it fall back to whatever is chosen as the Django cache backend?

[2015-04-11 13:29] kencochrane commented on #5
My original goal was to use the cache backend configured, but because the django cache is the least common denominator for all cache back ends it doesn't have the same features that are available if you use redis directly.

I guess one way would be to use the cache backend, and if you use redis you get the added speed benefits, if you use the others you don't.

This would require some work to fact

[2015-04-11 13:32] kencochrane commented on #5
It might be easier to introduce the plugin based system, where it comes with a redis one as default, but you could pick db, local mem, etc

[2015-04-30 22:34] mrbaboon opened #41 "Locked out signal"
Is there interest in a locked out signal that can be dispatched when a lockout happens for a user?

For example, we'd like to catch and log these with the rest of our audit logs and a signal is probably going to be the cleanest way to do so.

I'd be happy to implement this.

[2015-05-05 14:23] kencochrane commented on #41
@mrbaboon yes, I think that would be help to others if you add it.

[2015-05-05 14:24] kencochrane commented on #15
fixed

[2015-05-05 14:24] #15 closed

[2015-05-05 15:02] andybak commented on #13
I'm really curious as to the emphasis on performance here.

What scenarios do you see where performance is a major concern for something like this? The only situation I can think of is a DDOS using bad login attempts.

In even moderately high traffic sites - would hitting the db for each login attempt have any significant impact for anyone? What am I missing here?

[2015-05-05 15:42] kencochrane commented on #13
@andybak We use this on the Docker hub, where we have 1000's of valid login requests every minute. The database was a bottle neck because the more requests you have the more you have to track in order to determine if there are too many bad attempts in a row. We built defender to fix this performance issue, and that is why performance is one of our major goals.

We were originally using django-axes

[2015-05-05 18:34] andybak commented on #13
Thanks for this info. Actually - just after posting it occurred to me that a brute-force guessing attack can rapidly turn into a denial-of-service without something performant doing the rate-limiting.

[2015-05-06 20:46] limpbrains opened #42 "Publish package for Django 1.8"
I've tried django-defender with Django 1.8 and it works fine.
Please update pypi package dependencies so it could be installed with Django 1.8

[2015-06-16 11:25] zitrolmo opened #43 "Django-Defender with custom user model"
I have Django-Defender installed and apparently working, but it does not register bad login attempts in the DB. Redis is also running. I think this may be caused by the employment of a custom user model. Is there any way of configuring Django-Defender so that I can tell the package which is my User model? Thanks

[2015-06-16 12:30] kencochrane commented on #43
@zitrolmo

We don't do anything with the User Model, we just store the username that is used in the login attempt.

Does your login form use a field other then ``username``? If so, you will need to set the ``DEFENDER_USERNAME_FORM_FIELD`` setting to include the name of your field.

does it register any login attempts in the database? or only valid ones? Do you have the setting ``DEFENDER_STORE_ACC

[2015-06-16 14:19] zitrolmo commented on #43
Dear Ken,

thank you so much for your soon response.

This is my login view:

# _______ LOGIN - LOGOUT _______
def userLogin(request):
	if request.method == "POST":
		if 'login_form' in request.POST:
			usuario = request.POST.get('username', '')
			password = request.POST.get('password', '')
			user = authenticate(username=usuario, password=password)
			if user is not None:
				if user.is_active:

[2015-06-16 14:26] kencochrane commented on #43
@zitrolmo Do you have the defender app in your INSTALLED_APPS, and did you either add the defender middleware, or the login decorator around your login method?

[2015-06-16 14:29] zitrolmo commented on #43
Right, I have the ‘defender’ app and the ‘defender.middleware.FailedLoginMiddleware’. What I did not include was the login decorator around the login method. Is it like the watch_login() in django-axes? I did not see anything about it in the docs :(

[2015-06-16 14:32] kencochrane commented on #43
@zitrolmo you normally don't need the decorator if you are using the middleware, but if you are doing some custom login stuff, then you will need the login decorator.  It is usually one or the other.

If the middleware isn't working, try the login decorator, to see if that starts to work, if so, then you can either keep that, or work backwards to find out why the middleware doesn't work but the lo

[2015-06-16 14:39] zitrolmo commented on #43
Dear Ken, still not working having @watch_login before the login view, and also surrounding in the urls.py file as follows:

url(r'^login/$', watch_login(userLogin), name="login”),

I’ve tried also removing the line of the middleware.

[2015-06-16 14:47] kencochrane commented on #43
Hmm, that is odd, are you seeing any errors in the logs? what settings are you using for django defender?

[2015-06-16 14:53] zitrolmo commented on #43
Yes, I have no idea about what’s wrong.

I’m just using this option:
DEFENDER_STORE_ACCESS_ATTEMPTS = True

By the way, where can I find the logs? I’m using the development server of Django right now, and I didn’t know about saving error logs to a file on it.

Thanks

[2015-06-16 15:28] zitrolmo commented on #43
I have removed the @watch_login decorator that I had before the login view in the views.py file, and now it is storing the access attempts in the table. However, it says that all logins were valid, while they were not.

Any idea?

Thank you.

[2015-06-16 20:51] kencochrane commented on #43
@zitrolmo that is odd, I wonder why it isn't working correctly for you. Are you doing anything weird with an invalid login?

This is what the code is expecting:
https://github.com/kencochrane/django-defender/blob/master/defender/decorators.py#L29-L33

Your code looks like it does a redirect if they get it wrong, which is unusual (normally you return an error, and not do a redirect), and maybe the

[2015-06-16 21:05] zitrolmo commented on #43
Wow! That’s the problem! I’ve replaced that sentence by this one:

return HttpResponse("Error”)

Now it is detecting failed logins! Awesome!

What I need now is to redirect to the failed login attempt page, but I don’t know how to do it in order to keep working django-defender correctly.

Thank you for everything!

[2015-06-16 21:18] kencochrane commented on #43
Instead of redirecting just return the failed login page in the response instead of ERROR, and you should be good. Or just return an error, and use the same login form, with the error message in it.

[2015-06-16 21:31] zitrolmo commented on #43
Now it is working perfectly! Thank you so much. The crucial point here was the redirection, which returns a 302 code, and then it does not permit django-defender to detect failed logins properly.

Best regards and let me thank you again for your contribution and also for your help.

[2015-06-16 21:34] kencochrane commented on #43
@zitrolmo glad you got it working, going to close this issue.

[2015-06-16 21:34] #43 closed

[2015-06-16 22:25] aclark4life opened #45 "Open invitation to move django-defender to the django-pci organization"
If you ever get tired of maintaining this or just want to join forces :smile: (Looks very nice!) https://github.com/django-pci

[2015-06-17 12:54] kencochrane commented on #45
@aclark4life I'll let you know, thanks!

[2015-06-17 12:55] kencochrane commented on #42
This was fixed in 0.3.2

[2015-06-17 12:55] #42 closed

[2015-06-26 14:37] nephridium opened #46 "Redis data needs to be decoded to string for Python 3"
On Python 3.4 (Django 1.7) admin view /admin/defender/blocks throws TypeError "'str' does not support the buffer interface".

This is because with Python3 redis .keys() returns a bytes list while utils.strip_keys() expects a string list. I have a simple fix on my fork https://github.com/nephridium/django-defender/tree/decode_redis_data. If you like I can do a PR?

[2015-06-26 15:16] kencochrane commented on #46
@nephridium if you could submit a PR, that would be great. Thank you.

[2015-06-29 16:14] #46 closed

[2015-08-07 11:50] n3storm opened #48 "defender looks for an url that doesn't exist"
First: I am not using django admin at all so I am not importing django defender urls.

Any idea why I'm getting following error?

[code]

[2015-08-07 11:53] n3storm commented on #48
My login page has this url:

```{% url 'django.contrib.auth.views.login' %}```

although code documentation states: "Used to decorate the django.contrib.admin.site.login method."

Am I getting closer?

[2015-08-07 13:12] kencochrane commented on #48
Does the error go away when you add the defender URLs in?

Did you add defender to your application list in your settings?

[2015-08-07 15:17] n3storm commented on #48
defender is in APPLICATIONs list for sure.

I just was trying adding defender URLs and that doesn't make any diference.

The error does not happen every time.
The error goes as soon as django server is restarted (DEBUG True).

I am working with werkzeug now to see if anything changes (from django_extensions)

@kencochrane , two questions:
Does defender has to be LAST or FIRST application listed?
D

[2015-08-08 08:04] n3storm commented on #48
Hi there:
After some developing defender finally crashed with Werkzeug server.

There is not a single trace about where is the origin of the call to 'defender.decorators.decorated_login'

This time defender was not first nor last in APPLICATIONS nor MIDDLEWARES and was listed not URLS.

I am starting combinations of this setup.

[2015-08-23 08:13] n3storm commented on #48
[code]

[2015-09-05 07:53] n3storm commented on #48
I am having no problems with Gunicorn

[2015-10-01 19:37] mpars0ns commented on #48
You might want to try taking a look at the following stack overflow

http://stackoverflow.com/a/8631551

I had a similar problem and that fixed me right up

[2015-10-06 15:15] n3storm commented on #48
Trying this @mpars0ns right now. Love your avatar.

[2015-10-19 17:55] kencochrane commented on #48
@n3storm are you all set now, or are you still having problems?

[2015-10-19 17:57] n3storm commented on #48
Everything is okay thanks to  @mpars0ns
Ticket may be closed, not sure if this shoud be mentioned at docs.

Thanks everyone

[2015-10-19 18:57] kencochrane opened #50 "Whitelist / Blacklist proposal"
This is a design proposal for adding white and black lists to defender. The goal of adding these lists is so that we can always accept or block a set of usernames/ip's in a fast and flexible way.

### Two ways to store the White/Black lists

In order to keep this flexible, we will have two ways to store white/black list, a static way using settings variables, and a dynamic way using Redis.

In ord

[2015-10-19 18:57] kencochrane commented on #50
@marcusmartins @bcwalrus what do you think?

[2015-10-20 00:11] bcwalrus commented on #50
@kencochrane Thanks for putting this together. I like the whitelist, and would probably be using `*` for IP whitelist. (Need to make sure that it support CIDR match.)

I think of Redis as a cache, and therefore, not a fan of having config state in Redis. Can we put it in the DB (like how Waffle does it)?

My opinions on the questions:

Blacklist should trump whitelist, in order to be defensive.

W

[2015-10-20 03:07] marcusmartins commented on #50
I am with @bcwalrus on using redis as a cache and not a source of truth for blacklisted/whitelisted entries.

If we threat this as a simple cache, I wonder if it still make sense to implement the additional functionality to handle whilelist/blacklist as a static settings as you could just persist those values to your database. It would make your admin page handling a lot easier as well.

Overall t

[2015-10-20 17:33] kencochrane commented on #50
@bcwalrus @marcusmartins one of the reasons why I decided to store that data in redis was so that it makes it easier for 3rd party integrations (garant).

We can add it to the db, and then cache the results in redis for easier access.

I'm fine with keeping the whitelist/black list simple and not having any settings variables for these.

How do others feel about these changes?

[2015-10-20 17:34] kencochrane commented on #48
@n3storm ok I'll close, if others have the same problem in the future we will make sure to add something to the docs.

[2015-10-20 17:34] #48 closed

[2015-10-20 17:46] bcwalrus commented on #50
What garant does is extremely hackish. Does it, being in Go, even use the defender code? If not, I wouldn't worry about sharing defender's config with garant. It can come up with its own way to dynamically reload configuration.

[2015-10-20 19:18] kencochrane commented on #50
@bcwalrus it doesn't use the defender code, but it shares the same data source (redis) so that we can block people in both places if needed. If we put lists in the database, they will need to also look in the db to get that data, or use our cached values from redis. Ideally we will want one source of record for both systems.

[2015-10-20 23:30] bcwalrus commented on #50
Do we really need whitelist/blacklist? Would it suffice to add an option to disable blocking by IP?

[2015-10-21 17:49] kencochrane commented on #50
@bcwalrus I think there are valid use cases for a whitelist/blacklist. But it doesn't stop us from also adding an option to disable blocking by IP. I'll see what it will take to add that.

[2015-10-21 18:17] bcwalrus commented on #50
Based on the jira and real's use case, I think we'd only need to remove ip level blocking.

I have no opinion on whether defender has whitelist or blacklist. I just don't see that being useful for us now.

[2015-10-21 20:36] kencochrane commented on #50
@bcwalrus see if https://github.com/kencochrane/django-defender/pull/51 does what you want.

[2016-06-18 13:06] dlancer opened #60 "Problem with non ascii username submission"
python 2.7
Django 1.8.13
django-defender 0.4.2

I cannot cleanup username filed, because defender handle post data before form validation, so if user submit non ascii username - defender raise UnicodeEncodeError exception.

[code]

[2016-06-20 12:59] kencochrane commented on #60
It looks like .format() is chocking on unicode characters. It should be this instead.

return u"{0}:blocked:username:{1}".format(config.CACHE_PREFIX, username)

If you want to submit a PR with this fix, that would be very helpful. We should also add a unit test for usernames with non ascii characters.

[2016-07-21 01:35] ambsw-technology opened #63 ">django 1.7?"
The docs still list django 1.7 as the max.  Does this support newer versions?  If so, can you update the readme to the latest tested.  If not, what's the rub?

[2016-07-21 22:16] kencochrane commented on #63
Yes, it should also work with django 1.8.x and 1.9.x. The README has been updated to reflect this.

[2016-07-21 22:16] #63 closed

[2016-11-10 09:46] jedie commented on #45
https://github.com/django-pci -> 404

[2016-11-10 10:00] jedie commented on #60
Why not use `from __future__ import unicode_literals` ?

[2016-11-10 13:33] kencochrane commented on #45
Doesn't look like that org exists anymore. @aclark4life is there a new one, or was it disbanded?

[2016-11-10 13:35] kencochrane commented on #60
@jedie not sure, I have to admit I'm horrible when it comes to unicode. If you feel that is the best way, feel free to submit a PR, and we can fix.

[2016-11-10 13:49] aclark4life commented on #45
The main attraction to the django-pci organization was django-axes, which has moved to https://github.com/jazzband, and after which I removed the django-pci organization.

[2016-11-10 14:05] kencochrane commented on #45
@aclark4life ok, thanks for the update. I'll close this issue then.

[2016-11-10 14:05] #45 closed

[2017-01-30 16:18] dmitry-mukhin opened #66 "Flex `install_requires` a bit"
Is there a reason to fix version requirements for `redis`, `hiredis`, `mockredispy`?
At least minor version changes should be allowed.

Currently this causes issues when using in apps that use newer version of dependencies (e.g. `redis==2.10.5`).

[2017-01-30 21:09] kencochrane commented on #66
No, I don't think there is a reason other then we know those work, we should be able to pin it better so that the minor version are ok to use, and put a top limit on the more risky ones. Feel free to submit a PR to put it the way you want, and if it looks good, I'll merge right away.

[2017-01-31 12:53] dmitry-mukhin commented on #66
great!

[2017-01-31 14:39] dmitry-mukhin commented on #66
closed via #67

[2017-01-31 14:39] #66 closed

[2017-03-10 15:59] shnela opened #69 "Delaying requests instead of blocking users"
Did you consider increasing request time instead of blocking user?

Increasing request time is a good way to protect from brutforce and doesn't block user account.

[2017-03-10 16:01] kencochrane commented on #69
@shnela I haven't thought about that. How would that work? Would it cause any server resource issues?

[2017-03-10 16:16] shnela commented on #69
@kencochrane

Sorry, I overlook  DEFENDER_COOLOFF_TIME option...
It does the right job.

[2017-03-10 16:16] #69 closed

[2017-03-10 16:47] shnela opened #70 "Custom function for unloading username from request"
I've used `django-defender` in my application and it works well for standard login form, but it's not enough.
I have problem, because I'm also using `django-rest-framework`, so someone can still use rest api to to compromise passwords with brutforce attack.

I've tried to override `rest_framework.authentication.BasicAuthentication` class, but there's problem with some of `defender.utils` functions

[2017-03-10 17:33] kencochrane commented on #70
@shnela seems reasonable, would you be able to submit a PR?

[2017-03-10 17:35] shnela commented on #70
Yes, I will do it tomorrow.
W dniu pt., 10.03.2017 o 18:33 Ken Cochrane <notifications@github.com>
napisał(a):

[2017-03-10 17:39] kencochrane commented on #70
@shnela thank you

[2017-03-12 22:12] #70 closed

[2017-04-14 18:53] HuntedCodes opened #73 "New PyPI release"
Greetings,

The [current PyPI package](https://pypi.python.org/pypi/django-defender) is version 0.4.2, which has a [`urls.py` file that breaks](https://github.com/kencochrane/django-defender/blob/v0.4.2/defender/urls.py) with current versions of Django.

[code]

I see that this is already [fixed in the master branch](https://github.com/kencochrane/django-defender/blob/master/defender/urls.py). Any

[2017-04-14 19:03] kencochrane commented on #73
@HuntedCodes thanks for reminding me, I'll do it now.

[2017-04-14 23:04] kencochrane commented on #73
@HuntedCodes https://pypi.python.org/pypi/django-defender/0.4.3

[2017-04-14 23:04] #73 closed

[2017-04-16 16:35] HuntedCodes commented on #73
Thanks for the quick release.

[2017-05-05 14:57] msenol86 opened #75 "Documentation Improvement"
BasicAuthenticationDefender should be above other auth methods in DEFAULT_AUTHENTICATION_CLASSES

[2017-05-05 15:07] kencochrane commented on #75
@msenol86 thanks for the heads up, if you could submit a PR to make the doc fix, that would be awesome.

[2017-06-08 11:58] israel-tk opened #76 "Blocks view fails if blocked usernames contain + sign"
I'm using a system where we use emails as usernames.

If an username like `user+test@domain.tld` gets blocked, then the rendering of `/admin/defender/blocks/` fails with the following error:

Obviously that's because the `+` is not in the group of allowed chars for the regexp. Can we make the regexp a bit more permissive? I understand a `+` sign is OK in an URL and as part of a username.

[2017-06-08 12:01] kencochrane commented on #76
That sounds fine, feel free to submit a PR and I'll review, and if it looks good, we can merge.

[2017-06-09 22:10] dukebody commented on #76
Submitted a PR with my personal GH account. Comments appreciated! :)

[2017-06-10 15:00] kencochrane commented on #76
@dukebody thank you. I have merged the PR, if it looks good to people, we can cut a new release.

[2017-06-10 15:25] dukebody opened #78 "Support for Django 1.11"
I'm trying to work on support for Django 1.11 making the necessary changes to work with the `LoginView` class-based view.

The following change passes all the tests. In `middleware.py`:

from django.contrib.auth import views as auth_views
from django.utils.decorators import method_decorator

from .decorators import watch_login

[code]

If you watch closely you see we are replacing `LoginView.dispa

[2017-06-10 16:09] dukebody commented on #76
My pleasure. Thanks for the package and the quick turnaround! Perhaps we can cut a new release together with the Django 1.11 support.

[2017-06-12 15:53] #75 closed

[2017-06-12 16:03] kencochrane commented on #76
Sounds like a plan.

[2017-06-12 23:10] #78 closed

[2017-06-13 19:28] dukebody commented on #76
This issue is fixed in master and therefore can be closed.

[2017-06-13 20:13] kencochrane commented on #76
Thanks, closing.

[2017-06-13 20:13] #76 closed

[2017-06-22 17:41] Franr opened #81 "Taking redis client from django.core.cache"
Hello there. I have a little suggestion for the package. It is not so cool to re-declare your Redis url when you already have it on the settings. I have a quick workaround and would like your opinion.

First, add a new setting to the package: `DEFENDER_REDIS_NAME`. Is the name of the cache you will use, taken from the `CACHES` django setting.

Second, some code:

- defender/connection.py
[code]
Tr

[2017-06-22 18:01] kencochrane commented on #81
@Franr I think that seems reasonable, I would probably change it a little, so that we check to make sure the caches dict has that key before we get the value. It is a little safer so it doesn't throw a `KeyError` if the name is wrong.

[code]

[2017-06-22 19:36] Franr commented on #81
Good point. But in that case, the lib will try to use the `DEFENDER_REDIS_URL` setting, which will be null, and the default config will be used instead, leading to more confusion maybe? :stuck_out_tongue:

I would prefer to make it explicitly fail, so you can quickly now where is the error and fix it in 2 seconds hehe. I will create a PR and we can discuss over it.

[2017-06-23 17:14] jasonbevan opened #83 "whitelist/blacklist"
Thanks for the great App!
where can I edit whitelist/blacklist?

thanks

[2017-06-23 17:20] jasonbevan opened #84 "django admin"
On django admin >> access attempt everyone gets 127.0.0.1 under ip address. Showldn't I see the user's IP? and also, how do I block an offender?

Thanks

[2017-06-23 17:58] kencochrane commented on #83
dedicated whitelist/blacklist isn't implemented yet: see https://github.com/kencochrane/django-defender/issues/50

[2017-06-23 18:00] kencochrane commented on #84
If you are behind a reverse proxy you will need to set the `DEFENDER_REVERSE_PROXY_HEADER` and `DEFENDER_BEHIND_REVERSE_PROXY` settings so that it knows where to get the correct IP address.

[2017-06-23 18:09] jasonbevan commented on #84
That worked! thanks.

[2017-06-23 18:10] jasonbevan commented on #83
#50 sounds like a very useful feature, I hope it gets added in the future.
Thanks!

[2017-06-23 18:15] kencochrane commented on #83
@jasonbevan if you find it useful, we are looking for someone to add the feature, feel free to submit a PR.

[2017-06-23 18:15] kencochrane commented on #84
Great, closing the issue.

[2017-06-23 18:15] #84 closed

[2017-06-24 11:52] MattBlack85 opened #85 "defender for API"
Hi, I'd like to use the package for protecting a login API url, the internals should be adjusted a bit (like checking against 401 instead of 302) but I think passing an argument to the decorator should make it possible. Also I'd really love to add the message on failed request to the db as a celery task.

@kencochrane thoughts? If you think it's ok I could work on making this happen

[2017-06-24 12:40] kencochrane commented on #85
I think that is fine, we should make them two different PRs and we should make it so that celery isn't required for the second one. If they have celery installed or the setting is turned on, then use celery, if not do it the way we have it today.

Thanks

[2017-06-24 12:48] MattBlack85 commented on #85
👍

[2017-06-26 07:28] MattBlack85 commented on #50
I would like to tackle this one

[2017-06-26 11:06] kencochrane commented on #50
@mattblack85 great, we should lock down the design first before you start. A few things to figure out.
- do we store the whitelist/blacklist in the db or in redis
- answering the questions in the original message
- do we support IPv6?

Just my opinion, but I think we should store the white/black lists in the database, and then cache in redis. This way if redis gets wiped out, the source of record

[2017-06-26 13:48] MattBlack85 commented on #50
I agree, better to save the list within the db and dump it to redis on .save()
We can have a setting with the list, the first call to aby endpoint will populate the cache.
I'd go with ipv4 for now and then maybe expand for ipv6

[2017-06-26 14:23] kencochrane commented on #50
OK, sounds like a good plan to start.

[2017-06-26 15:45] #81 closed

[2017-06-26 16:21] mehtamanan commented on #85
I want this so badly :(

[2017-06-26 16:23] kencochrane commented on #85
@mehtamanan which part? https://github.com/kencochrane/django-defender/pull/86 gets it partially there.

[2017-06-26 16:24] kencochrane commented on #83
closing since this is covered in #50

[2017-06-26 16:24] #83 closed

[2017-06-26 17:12] mehtamanan commented on #85
@kencochrane I want to add the functionality to a specific view/URL since I'm building a rest service! I send a post request w username and password attributes to an endpoint and I get a jwt back if the credentials match! I want to defend that endpoint ...

[2017-06-26 17:14] mehtamanan commented on #85
Are you planning to release a new version with #86 anytime soon?

[2017-06-26 17:16] kencochrane commented on #85
there are a few more things in the works, once they are done, we will make a new release.

[2017-06-26 17:19] mehtamanan commented on #85
Looking forward to it!  Thanks :)

[2017-06-29 01:30] jasonbevan opened #89 "Features??"
How many of these features are actually available?

Log all login attempts to the database
support for reverse proxies with different headers for IP addresses
rate limit based on:
    username
    ip address
use redis for the blacklist
configuration
    redis server
        host
        port
        database
        password
        key_prefix
    block length
    number of incorrect attempts befo

[2017-06-29 01:54] kencochrane commented on #89
Should be all, except for backlist, which is currently in design stage.

[2017-07-01 13:25] kencochrane commented on #2
closing this out, I think the current readme is just fine, we can open it up if we need to in the future.

[2017-07-01 13:25] #2 closed

[2017-07-01 13:26] kencochrane commented on #60
Is this still a problem, or has it been fixed with one of the recent releases?

[2017-07-01 13:27] kencochrane commented on #41
@mrbaboon do you still plan on working on it? If not, no worries, just trying to get the issue updated.

[2017-07-01 13:29] kencochrane commented on #13
closing this issue, we have done this in the past, we are just missing the full benchmark comparison, which really isn't needed. It would be cool to compare, but don't have time to add it.

[2017-07-01 13:29] #13 closed

[2017-07-01 13:30] kencochrane commented on #89
closing this since it isn't an issue. all features are listed in the readme, if you have an actual issue, please let us know

[2017-07-01 13:30] #89 closed

[2017-07-01 13:33] kencochrane opened #91 "add the message on failed request to the db as a celery task"
creating a new issue for this, breaking it out from #85 so it is easier to track.

It would be nice if we had an option to add the message on failed request to the db as a celery task. This would be helpful for people who are already using celery.

I don't want to make celery a requirement, so it should be something that is configurable. If they have celery enabled, then we will use celery, if not

[2017-07-03 18:25] MattBlack85 commented on #85
Since the celery thing has its own task and the API goal has been achieved I'm closing this

[2017-07-03 18:25] #85 closed

[2017-07-03 18:36] MattBlack85 commented on #60
I'm not able to reproduce this on python2, it would be nice to know which username had been passed around, I tried also to add a failing test but the test is passing

[2017-07-03 18:38] kencochrane commented on #60
hmm, maybe it was already fixed. It is probably a good idea to have a unit test with the unicode character as a regression test, incase we accidentally break it again in the future.

[2017-07-03 19:14] MattBlack85 commented on #50
@kencochrane is it right to say that there is no sense in having the blacklist and the whitelist active at the same time? I decided to go with the blacklist first, so I first have to check if the blacklist is enabled and then I return True/False if the IP/username is there or not. This way the whitelist is not even checked

[2017-07-03 19:22] kencochrane commented on #50
@MattBlack85 Yes I think that makes sense. We just need to say what has a higher priority, black or white, then we check the higher priority list first. If it is in there, no reason to check the other list.

Assuming black list is higher it would look like this.

User --> Black list check (No)  -> White list check (No) -> Continue with rest of checks
User --> Black list check (No)  -> White list c

[2017-07-03 19:25] MattBlack85 commented on #50
👍

[2017-07-03 20:07] Temeez opened #92 "Few middleware problems? Django 1.11.2"
middleware.py
[code]
Whats the point of this mess? Besides it throwing `TypeError: watch_login() takes exactly 1 argument (0 given)` can't it be just one line like it was before?

Like this: `watch_login_method = method_decorator(watch_login)`

Also for django-defender to work with the new django **MIDDLEWARE** I need to do the following to the middleware:
[code]
Add this on top of the middleware.

[2017-07-03 21:19] MattBlack85 commented on #92
I'm not using the middleware, just the decorator and I'm fine. For the middleware you're right, the one from the package is not working properly, but after your suggestion the project works. Note that the decorator has changed on 0.5.0 and is now possible to decorate functions other than the admin login, I'm not getting any TypeError on django 1.11.2. Those two lines have been split cause the meth

[2017-07-03 22:01] kencochrane commented on #92
@teemez Thanks for letting us know. Does this require a code fix, a documentation fix, both? If you have the time and are willing, feel free to submit a PR, that would be very helpful.

[2017-07-04 06:18] Temeez commented on #92
@MattBlack85 would the following do the same thing as the current one in the 0.5.0?
[code]

@kencochrane code fix only (I think?). I can submit a PR later today.

[2017-07-04 06:30] MattBlack85 commented on #92
@Teemez not sure, will check shortly. Decorator now expects some args (or defaults) so It should be called like ()

[2017-07-04 07:31] MattBlack85 commented on #92
@Temeez if not called () tests fail (at least on django 1.11.2), though it seems the oneliner works

[2017-07-04 13:28] Temeez commented on #92
Odd, I don't get the `TypeError` from the `watch_login()` anymore and I have done no code changes.. magic!

I'll make a PR for the **MIDDLEWARE** thing so it won't throw `TypeError: object.__init__() takes no parameters` error.

[2017-08-01 22:17] felixkohtz opened #94 "Django 1.11 - Decorator for class-based views in urls.py"
Django 1.11.4

I am using class-based views for my login.

From the Django docs - "The login function-based view should be replaced by the class-based": https://docs.djangoproject.com/en/1.11/topics/auth/default/#django.contrib.auth.views.LoginView

Since i can't find a documentation or figure out how to decorate a class-based view, how would i do it in urls.py ?

urls.py

[code]

Regards

[2017-08-02 05:10] Temeez commented on #94
It would go like this.
[code]

[2017-08-02 06:27] felixkohtz commented on #94
Here is the traceback when i try to implement it like this:

[code]

[2017-08-02 12:11] felixkohtz commented on #94
Traceback when i try to implement without class-based

`url(r'^login/$', watch_login(auth_views.login), name='login'),`

[code]

am i doing something wrong or is this django 1.11.4 related?

[2017-08-02 12:29] kencochrane commented on #94
@felixkohtz I'm not sure, I'm not using it with Django 1.11 yet. It might be something that changed in 1.11 that is causing this.

In django 1.11 they changed from function based login/logout and instead are using Class based ones, possibly related.

From https://docs.djangoproject.com/en/1.11/releases/1.11/

[2017-08-02 15:29] MattBlack85 commented on #94
Are you using the latest version of defender @felixkohtz? If yes then the decorator itself expects 2 args that are a status code and a message, you are passing a function. Try to use it like:
`watch_login()LoginView.as_view()`

[2017-08-02 15:32] MattBlack85 commented on #94
btw if you are using the middleware the Django LoginView is already decorated https://github.com/kencochrane/django-defender/blob/master/defender/middleware.py#L27

[2017-08-02 18:21] felixkohtz commented on #94
[code]
django-defender==0.5.0

watch_login()LoginView.as_view()

changed to

url(r'^login/$', watch_login()auth_views.LoginView.as_view(), name='login'),

[code]

To use the middleware i had to use pip with git+ to clone the repository.
`pip install --upgrade git+https://github.com/kencochrane/django-defender.git`

Added
`'defender.middleware.FailedLoginMiddleware',`
to settings.py

With the middl

[2017-08-02 18:21] #94 closed

[2017-08-02 18:31] kencochrane commented on #94
Thanks for the reminder, I should push out a 0.5.1 release with what is currently on master. I haven't heard any complaints so it is probably good to go.

[2017-08-02 18:55] kencochrane commented on #92
@Temeez can we close this issue?

[2017-08-02 19:00] kencochrane commented on #94
@felixkohtz FYI 0.5.1 has been pushed to pypi.

[2017-08-02 19:06] #92 closed

[2017-08-15 03:30] hsenot opened #96 "Potential security issue in reverse proxy configuration with X-Forwarded-For"
Hi there,

Having spent the last few days reading about how to provide a (somewhat) reliable REMOTE_ADDR environment variable to Django and associated modules in a reverse proxy setup (nginx + gunicorn on socket + django), I have the feeling that there is a potential security issue with defender's default reverse proxy setup.

Just switching the BEHIND_REVERSE_PROXY to True will result in the firs

[2017-08-17 11:23] kencochrane commented on #96
@hsenot thanks for the note, I agree we should also do something about this, but I'm not 100% sure what the correct way will be.

I'm on vacation right now with limited internet, but when I get back I'll see what options we have, and what makes the most sense for us.

If anyone has any ideas or votes on which one to implement, feel free to chime in.

[2017-08-22 09:41] kseniyashaydurova opened #97 "Problem with install_requires"
In `install_requires` it's written Django <=1.11... so this package uninstalls higher then 1.11 versions and install 1.11.

[2017-08-22 11:55] kencochrane commented on #97
Thanks for catching that. I'm on vacation right now, so I can't fix until I get back at the end of the week. But feel free to submit a PR to get it fixed sooner.

[2017-08-31 05:46] ericbuckley opened #98 "hiredis"
Is there a reason the hiredis package is required in `setup.py`?  It looks like the app will run fine without it.

[2017-08-31 15:13] kencochrane commented on #98
I don't think there is a reason other then it was what I used at one time, feel free to submit a PR to remove it. Thanks

[2017-08-31 15:31] #97 closed

[2017-08-31 17:38] #98 closed

[2017-09-07 17:46] jfajardo opened #103 "DataError /admin/login/"
Hi, i have a problem in production mode
[code]

[2017-09-07 18:48] kencochrane commented on #103
@jfajardo what version are you using?

[2018-01-12 15:00] williamboman opened #108 "Different failure thresholds for username and IP lock outs"
We'd like to lock users after 3 consecutive failed log in attempts. We do not want to immediately block the IP address (multiple users behind same public IP). However - we do want to block the IP address after a multitude of failed log in attempts from the same IP, but we want this threshold to be much higher to avoid false positives.

[2018-01-14 18:04] kencochrane commented on #108
This would require a few changes to the way this library works, and would complicate things a bit. I don't think out of scope, but before it is implemented we should discuss how it will work in this issue. If implemented correctly it would be a nice feature to offer, I just wonder how many people would use it.

I personally don't have time to work on it, but if someone wants to take it on, I can h

[2018-01-14 19:59] williamboman commented on #108
I might take a stab at this one next week. From glancing at the code, wouldn't a single new settings variable for the IP threshold, that falls back to the current threshold variable, suffice?

[2018-01-17 21:51] adrian-zumbler opened #109 "django-defender installation failed"
I tray to install django-defender but I receive the following error

$ pip install django-defender
Collecting django-defender
  Using cached django_defender-0.5.1-py2-none-any.whl
Collecting mockredispy<3.0,>=2.9.0.11 (from django-defender)
Exception:
Traceback (most recent call last):
  File "/home/ubuntu/.local/lib/python2.7/site-packages/pip/basecommand.py", line 215, in main
    status = self.

[2018-01-18 12:36] kencochrane commented on #109
Are you having this issue with just django-defender, or with other packages as well?

The reason why I ask is because it doesn't look like a defender error, and no one else has reported an issue.

[2018-01-21 15:51] kencochrane commented on #108
@williamboman so what you are proposing is adding a new setting for IP threshold, if that value is set, then it won't block an IP unless that threshold is met. But it might block a user if the current setting (lets call it user threshold) is over the limit?

For clarity we might want to rename or add a new setting just to make it more obvious to what it is doing.

**Current:** `DEFENDER_LOGIN_FAIL

[2018-01-21 17:51] williamboman commented on #108
That's pretty much exactly what I was thinking, sounds 👍 to me.

[2018-01-29 12:10] cobusc opened #110 "Inconsistent handling of a username that is `None`"
Calling `utils.record_failed_attempt(some_ip, None)` currently creates an entry with key `defender:failed:username:None` in Redis. The count is updated as expected for repeated calls.

The problem is that neither `utils.reset_failed_attempts` or `utils.unblock_username` can be used to clear the counts:
[code]
The explicit check for `username` means that neither `delete` call gets made.

IMHO `user

[2018-01-31 10:53] kencochrane commented on #110
@cobusc thanks for the report, would you have time to submit a PR with the change you proposed?

[2018-01-31 17:05] williamboman opened #111 "Dispatch signal when blocking username and IPs"
In my case, I'd like to send an email to users when their account is locked. It would be nice to be able to register a [signal](https://docs.djangoproject.com/en/2.0/topics/signals/) listener for when `django-defender` issues a username/IP block.

[2018-01-31 19:07] kencochrane commented on #111
I think this is a duplicate of #41

[2018-01-31 19:09] williamboman commented on #111
That is correct, my bad.

[2018-01-31 19:09] #111 closed

[2018-02-01 06:05] cobusc commented on #110
https://github.com/kencochrane/django-defender/pull/112

[2018-02-01 11:36] cobusc commented on #110
Closed by https://github.com/kencochrane/django-defender/commit/5aa69bac96e0a82d773d1aa13a817862ccfc555f

[2018-02-01 11:36] #110 closed

[2018-02-02 12:32] kencochrane commented on #109
@adrian-zumbler any update on this issue? Does it still not work for you?

[2018-02-14 12:51] livenson opened #116 "New pypi release to fix dependency issue with Django 1.11.x"
We are using Django 1.11.4, which should totally work, but the installation is failing due to a conflict:

[code]
Seems to be ok with master -- but we'd need something from pypi. Thanks!

[2018-02-14 22:46] blueyed opened #117 "Use cache backend/framework instead of Redis?!"
What is the reason behind not just using Django's cache framework?

With https://github.com/kencochrane/django-defender/issues/81 and https://github.com/kencochrane/django-defender/pull/82 the Redis URL can be picked up from Django's CACHES, so that makes it at least easier to configure - but using the CACHES in the first place might make the code and maintenance easier in general.

[2018-02-15 14:39] kencochrane commented on #117
The Django Cache Framework (DCF) is too high level, it doesn't offer access to the lower level Redis features that we need in order to work. The cache framework was built for caching, and what we are doing isn't caching, it is more then that.

[2018-02-15 14:39] #117 closed

[2018-02-19 14:53] kencochrane commented on #116
0.5.2 is now on pypi : https://pypi.python.org/pypi/django-defender/0.5.2

[2018-02-19 14:53] #116 closed

[2018-02-19 14:53] kencochrane commented on #109
closing due to lack of information, feel free to reopen if still an issue.

[2018-02-19 14:53] #109 closed

[2018-02-19 14:55] livenson commented on #116
Thanks! It would be great to get another release once https://github.com/kencochrane/django-defender/pull/115 is merged. We are packaging defender into RPMs and these extra dependencies are not making life easier at all.

[2018-02-19 14:57] kencochrane commented on #116
@livenson yes, I was hoping to have everything in this release, but didn't want to keep everyone waiting, hopefully we can get the other PR's merged, and once we do, I'll do another release.

[2018-03-04 16:59] livenson commented on #116
@kencochrane , any chance of doing a 0.5.3 release with dropped mock dependency?

[2018-03-11 20:28] kencochrane commented on #116
0.5.3 is on PyPi https://pypi.python.org/pypi/django-defender/0.5.3

[2018-04-10 16:31] kencochrane commented on #41
@mrbaboon thank you for the update.

[2018-04-10 23:41] kencochrane commented on #103
Closing since I haven't heard back.

[2018-04-10 23:41] #103 closed

[2018-04-19 09:39] aleksihakli opened #121 "Duplicate project functionality between django-axes and django-defender"
I came across django-defender and thought to mention that the project has a _lot_ of duplicate functionality with django-axes (https://github.com/jazzband/django-axes).

Many of the issues in this project and django-axes are duplicate and I'm wondering if we should look into pooling our efforts and combining the projects into one code base that combines the best of all the applications?

EDIT: Rem

[2018-04-20 14:56] kencochrane commented on #121
@aleksihakli I'm all for pooling resources where they make sense. What do you have in mind?

I originally wrote Defender because I was using axes and it couldn't scale to meet our needs with the current design, and it was easier to build out what we needed from scratch then try to make a major refactor on axes. The big difference is we use redis instead of the database to store state, which greatl

[2018-04-30 12:36] kencochrane commented on #121
@aleksihakli like I said before, I'm open to combining projects and pooling resources, as long as it makes sense. Let's use this ticket to discuss possible options, and see where they lead us.

[2018-06-07 10:30] andrewshkovskii opened #123 "Please, release version 0.5.5"
Hello, @kencochrane !
I want to ask you to release version 0.5.5, if it is possible.
Thanks!

[2018-06-07 11:50] kencochrane commented on #123
done. https://pypi.org/project/django-defender/0.5.5/

[2018-06-07 11:50] #123 closed

[2018-07-03 13:57] bpsgit opened #124 "How to use with OAUTH2 - django-oauth-toolkit?"
Hi,

Trying to use with OAUTH2 - django-oauth-toolkit.

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'oauth2_provider.middleware.OAuth2TokenMiddleware',
    'defender.middleware.FailedLoginMiddlewa

[2019-01-23 09:40] joshua-s commented on #121
I think this would be good to revisit

[2019-02-01 20:52] joshua-s commented on #121
@aleksihakli I really like your ideas around the authentication backends. For my projects, this has been the most significant difference between django-defender and django-axes. The big benefit of merging the two projects would be to expand the flexibility of the core.

[2019-02-02 12:56] aleksihakli commented on #121
I actually just prototyped a custom authentication backend for blocking unwanted logins combined with a middleware and signal handlers for pretty error templating yesterday and managed to replicate the current functionality of django-axes 4.5 with 100% of the tests passing with zero monkey-patching.

I am going to further research django-allauth and DRF or Django REST Framework to see if they supp

[2019-02-02 17:39] kencochrane commented on #121
I’m fine with merging the projects if it makes sense and it has the same performance as the current project. The main reason why I built defender was because axes was too slow for my requirements.

I personally don’t have time to work on any changes, so i’m not sure how much I can contribute. But i’ll try and help where I can.

[2019-02-07 14:12] camilonova commented on #121
Lets to this. Makes total sense. I would like to see a Redis backend on axes too.

[2019-02-07 18:42] aleksihakli commented on #121
First version of pluggable signal handlers implemented here: https://github.com/jazzband/django-axes/pull/397/commits/f4b7494e0a23cfb031ee7e0ec2e251b158d982bb

We can improve the base implementation and figure out what kind of an API interface should ideally be used for the pluggable signal handlers, but this PoC demonstrates pluggable design and I think it does it in a readable way.

[2019-02-07 19:02] aleksihakli commented on #121
And since it might not be obvious, the other parts such as middleware and authentication backends are also pluggable, and all of the base implementations can now be parametrized and swapped. The only constraints are the APIs Django offers for middleware and authentication backends and the signal handler API we have implemented ourselves.

[2019-02-13 18:43] aleksihakli commented on #121
@kencochrane @joshua-s @camilonova Axes has received the planned upgrades and the project layout and tests have been much improved. Could you take a look at the project and the current state of the authentication stack and give your thoughts?

[2019-02-15 00:12] joshua-s commented on #121
@aleksihakli sorry about the delay (been alternating between sickness and heavy workloads). I hope to check this out within the next week.

[2019-02-20 21:21] aleksihakli commented on #121
@joshua-s and others, just as a heads up, I'm keeping the PR https://github.com/jazzband/django-axes/pull/402 open for a few more days for commenting and ideas, and then merging it upstream if nobody opposes the current design.

There are a few things that I'd like to improve in the handler and proxy layers, but as the saying goes, perfect is the enemy of good.

I think we should try and focus the

[2019-02-26 23:50] CodeMonk commented on #5
Do you have a thought of how the plugin system may work?

We are using a redis cluster for celery, and, since I can't abuse the cluster for this too, since you can only use one database (namespace) while clustered, we need to use something else. And bringing in another redis instance/cluster has already been veto'ed.

So, I'd like to try to add memcached as a backend . . . and I'd love to make it

[2019-03-11 23:20] claytondaley commented on #121
FWIW we originally passed on defender/axes in favor of (the long abandoned) [django-lockount](http://pypi.python.org/pypi/django-lockout/0.1.0) because it didn't require (slower) DB calls or Redis out-of-the box.  We dedicate VMs to clients so multi-server scaling wasn't a constraint for us.

I certainly understand the value of Redis/DB backends, but I'm a huge fan of no-infrastructure, zero confi

[2019-03-12 11:05] aleksihakli commented on #121
Hey @claytondaley! I agree on your points. The only main problem is that the local memory cache is local process only and doesn't function correctly with multiple processes, and the file based cache does not function correctly on multiple servers.

Both can be used with Axes, but do not provide the correct functionality on multiprocess and/or multiserver setups, whereas database and Memcached or R

[2019-03-12 17:11] claytondaley commented on #121
I acknowledged these points in my response; they don't change my recommendation.  Defaults should cater to the new adopter.  At that point, you're dabbling in a bunch of projects.  If it's hard to run the defaults for a particular project in a development environment, your odds of selecting that project fall precipitously.  If the defaults don't work, you're not even sure that you *can* work aroun

[2019-03-13 13:37] aleksihakli commented on #121
All good points, and I think the defaults should be considered carefully.

Some of my own viewpoints:

- **all projects do require correct functionality**, which the local memory and file caches do not offer under all configurations,
- **most projects do not require maximum performance setup**, and
- **switching out handlers is easy** in the new Axes version.

I am not sure if you have checked the

[2019-05-01 17:57] aleksihakli commented on #121
Hey @kencochrane, @joshua-s, @claytondaley, and @camilonova!

Version 5.0 has been rolled out for django-axes with multiple improvements in terms of documentation, architecture, plugability, database and cache handler implementation. The new release is pretty fast and received optimisations to both the database and cache handlers, dropping the amount of database requests to just a few transactions

[2019-05-10 11:12] jenarvaezg opened #129 "Issue with redis versioning"
I am trying to use this project but I have noticed that the newest release (0.6.0) requires redis <3.0, but the current master branch requires redis <=3.2

Are there any plans to release version 0.6.1?

Thanks!

[2019-05-19 18:17] kencochrane commented on #129
@jenarvaezg 0.6.1 has been released: https://pypi.org/project/django-defender/0.6.1/

[2019-05-19 18:17] #129 closed

[2019-05-29 18:45] softinio opened #130 "Update dependency to support redis-py version 3.2.1"
Redis Client 3.2.1 is out so be good to update this to support it:

https://github.com/kencochrane/django-defender/blob/master/setup.py#L71

[2019-06-04 19:17] #130 closed

[2019-08-28 08:37] kavehcs opened #134 "get remaining time for back to login page in DEFENDER_LOCKOUT_TEMPLATE ???"

[2019-09-04 10:54] horida opened #135 "username_block_signal send multiple times"
When blocking a user a signal is send in `defender/utils.py:block_username`
https://github.com/kencochrane/django-defender/blob/master/defender/utils.py#L197

However, this happens on every call of `defender/utils.py:record_failed_attemp` in
https://github.com/kencochrane/django-defender/blob/master/defender/utils.py#L218
even though the user was already blocked before.

For instance, I want to se

[2019-09-08 14:04] kencochrane commented on #135
@horida good question, I would suspect that we only need it the first time, but I'm not sure if there is a use case where someone wants to know every time.

@williamboman wrote that functionality, so let's ask them. @williamboman do you see any issue if we only send the blocking signal when it is blocked and not after every invalid login?

Maybe we need to have a different signal for invalid login

[2019-09-08 14:06] kencochrane commented on #134
Are you asking how to get the value, or if it is available? I don't think it is currently available, there would need to be a code change to expose that.

[2019-09-08 17:43] williamboman commented on #135
Ah that does seem like a flaw. That signal should indeed only be dispatched when a user conceptually becomes blocked. I would not oppose changing this behavior, although I no longer use this library.

[2019-09-09 07:29] horida commented on #135
Thanks both! I can create a PR these days.

I like that currently the signal is only sent once a user is actually blocked. I would not change this behavior.
On the other hand, we could check if the user is already blocked before blocking it. Then, afterwards the signal is only sent if the user was not blocked before. Though, I'd leave the set blocked in both cases to avoid race conditions.

Someth

[2019-09-09 08:10] horida commented on #135
here you go: https://github.com/kencochrane/django-defender/pull/137

[2019-09-16 08:46] kavehcs commented on #134
Thanks for your answer , Can you tell me the code to get it؟
I want to show the user the remaining time after reloading the page.

[2019-09-16 12:48] kencochrane commented on #135
completed with #137 thanks @horida and @williamboman

[2019-09-16 12:48] #135 closed

[2019-09-16 13:04] kencochrane commented on #134
You would need to use the [TTL](https://redis.io/commands/ttl) command on Redis to get the Time left for the block for the given Redis key. Either IP or username.

Then you need to add the value to the template context here: https://github.com/kencochrane/django-defender/blob/ce95906488676a44cebd34262426a21303d5dead/defender/utils.py#L293

Which is called in this method here: https://github.com/ke

[2019-10-17 18:24] aleksihakli commented on #121
Revisiting the subject: Doyou think there is any sense in trying to unify the projects and pool development efforts to under Jazzband, as Defender and Axes currently have duplicate functionality?

[2019-10-17 18:27] kencochrane commented on #121
To be honest I'm not sure. What do others think? Would that mean we shut down defender and tell people to move to axes?

[2019-10-18 06:23] aleksihakli commented on #121
I think there are multiple approaches into effort pooling including

- building a delta and feature comparison of the projects
- focusing on a specific aspect per project (performance, customization, ...)
- pooling issue backlogs and assigning effort per specific area of interest
- pooling maintenance effort and releases with joint maintenance models
- pooling codebases and combining the "good par

[2019-10-25 19:32] camilonova commented on #121
@kencochrane lets move this project to jazzband

[2019-10-25 20:32] aleksihakli commented on #121
We could work on synchronizing and coordinating feature requests, security considerations etc. with a lower bar if the projects were more more integrated. That would allow for more awareness at the least. I think that evolving the ideas and gathering knowledge is more valuable than implementing nifty lines of code under one repository oro ther, and Jazzband might be a good place for that, since it

[2019-10-26 14:44] kencochrane commented on #121
Sorry for the delay, work has been busy. I'm OK with moving it over to jazzband. I guess we just need to go over what we need to do. I'm guessing step one would be to move the project in github, and then we can go from there?

[2019-10-26 15:01] aleksihakli commented on #121
@kencochrane the customary process is to join Jazzband at https://jazzband.co/join (that adds you as a member to the Jazzband GitHub organization) and transfer the repo to the Jazzband GitHub organization using the standard transfer workflow.

Once the repo has been transfered a new ticket is created with a TODO list to get the repo inline with the Jazzband guidelines.

Getting help with the proce

[2019-10-26 15:21] kencochrane commented on #121
OK, I have joined the jazzband github org, should I transfer the project now, or wait?

[2019-10-26 15:32] aleksihakli commented on #121
I believe transferring is OK, and then opening a ticket on the project. The things that need to be added for smooth maintenance are RTD and PyPI access to Jazzband, I think, and those should be included in the checklist that is created after transferring the project.

The main things Jazzband does is add a custom middle step in the release process: a project packet can be first uploaded to the Jaz

[2019-10-26 21:24] jezdez commented on #121
Hey there, founder and admin of Jazzband here, I'm glad this is discussed here, please make sure to first check if the project follows the [Jazzband guidelines](https://jazzband.co/about/guidelines) before transferring it. It's customary to create a ticket to discuss this first.

@aleksihakli Please be so kind and remember to point this out when you're suggesting to move a project to Jazzband. It'

[2019-10-26 22:35] aleksihakli commented on #121
@jezdez sure, I'll point those pages out in the future!

[2019-10-27 17:19] kencochrane commented on #121
@aleksihakli and @jezdez Thanks for the info, I reviewed the guidelines and I think we are a good fit. The only thing that we don't have right now is a `CONTRIBUTING.md` file which we will have to create and add. Our docs right now are just a big README file, if we need to make that more formal, that would require a little bit of work.  The release process seems fine as well.

At this point would

[2019-10-27 18:15] aleksihakli commented on #121
There's a [copy-paste template](https://jazzband.co/about/guidelines#contributing-guidelines) for the `CONTRIBUTING.md` and `CONTRIBUTING.rst` files, whichever you'd like to use :)

Setting up rudimentary Sphinx configuration with the [Sphinx quickstart](https://www.sphinx-doc.org/en/master/usage/quickstart.html) and [Readthedocs getting started guide](https://docs.readthedocs.io/en/stable/intro/g

[2019-10-27 19:13] kencochrane commented on #121
@aleksihakli sounds good, do you want to create the ticket on the jazzband help, or should I?

[2019-10-28 09:56] aleksihakli commented on #121
@kencochrane I think you're the best person since you are the maintainer with all the permissions and the migrations etc. will require a few steps with those.

[2019-10-28 23:13] kencochrane commented on #121
@aleksihakli thanks, I submitted the issue, let's see what they say.

[2019-11-06 18:54] aleksihakli commented on #121
@kencochrane I think no one is opposing moving into Jazzband :) Let me know if you'd like any help with setting up things.

[2019-11-07 13:23] kencochrane commented on #121
@aleksihakli I haven't seen any progress on the issue I created on the jazzband-roadies repo. Is it normal that no news is good news, or should there be a formal acceptance before I move forward?

It looks like a few things that we need to do before we can move are create some sphinx docs, setup read the docs integration and then add a contributors file. If you can help with any of those, that wou

[2019-11-07 14:24] jezdez commented on #121
@kencochrane Nah, that's just me being super busy with other stuff, I've just replied there. Go go go!

[2019-11-07 14:28] jazzband-bot opened #138 "Implement Jazzband guidelines for django-defender"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-defender](https://github.com/jazzband/django-defender)

It was initiated by @kencochrane who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free t

[2019-11-07 14:34] kencochrane commented on #121
@jezdez Thank you, and I understand about being super busy, so no worries there.  I just transferred the repo over to jazzband, so step 1 is done. a few more to go :)

[2019-11-07 16:43] aleksihakli opened #139 "Read the Docs integration"
As indicated in #121 and #138 a Read the Docs page and integration would be nice for the repository. Initial integration can be done with [`sphinx-quickstart`](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html).

@kencochrane is probably the best person for creating the initial Read the Docs page as the maintainer, and adding the Jazzband bot into the project, and after

[2019-11-08 11:17] aleksihakli commented on #139
I added the Read the Docs page and added @kencochrane and @jazzband-bot as the maintainers.

Could you add the GitHub -> Read the Docs webhook integration for the project on the GitHub end @jezdez?

https://readthedocs.org/dashboard/django-defender/integrations/

[2019-11-08 11:58] jezdez commented on #139
@aleksihakli Added the webhook.

[2019-11-08 14:00] kencochrane commented on #139
Thank you @aleksihakli and @jezdez

[2019-11-08 15:48] aleksihakli commented on #138
Do you want to do tagged releases for [django-defender through the Jazzband site](https://jazzband.co/projects/django-defender) @kencochrane?

That would require setting up the

GitHub -> Travis CI -> Jazzband registry -> PyPI registry

CI pipeline for this repository similarly to e.g. [django-axes on the Jazzband site](https://jazzband.co/projects/django-axes
):

https://github.com/jazzband/djang

[2019-11-10 16:05] kencochrane commented on #138
@aleksihakli yeah that sounds good, automating deployments would be great.

[2019-11-10 16:08] #139 closed

[2019-11-10 19:30] aleksihakli commented on #138
I believe the project should be good-to-go from Jazzband to PyPI and the setup. I tested `python setup.py build` and `setup.py sdist` and both seemed to produce Jazzband and PyPI compliant packages as expected @kencochrane

@jezdez is it possible to add the Jazzband PyPI automation for django-defender?

I believe @kencochrane is the obvious lead and maintainer for the project on the Jazzband site,

[2019-11-16 12:34] kencochrane commented on #138
@aleksihakli thanks for all of the help. Is there any outstanding task that are waiting for me or that I need to do at this point?

[2019-11-16 12:46] aleksihakli commented on #138
@kencochrane thanks for all the wonderful work you've done with django-defender, it's nice to get to contribute to awesome projects!

I believe that the next (and only obvious step) that is still to be done is to add the automated release pipeline to ease the maintenance as mentioned in https://github.com/jazzband-roadies/help/issues/174

@jezdez is the person who can help with that so I think we'

[2019-11-16 13:17] kencochrane commented on #138
OK, let me know if you need anything else from me, or if you have any questions. Thanks again!

[2019-11-16 13:21] aleksihakli commented on #121
I'm closing this ticket as I think we have concluded that we have two projects that have the same goal with different means and they should coexist. We already share knowledge and maintenance and Jazzband enables us to work and learn on the projects together :)

[2019-11-16 13:21] #121 closed

[2019-11-24 21:13] aleksihakli commented on #138
Hey @kencochrane! I think everything is done now that @jezdez added the PyPI deployment via Jazzband website and this ticket can be closed :)

[2019-11-24 22:01] kencochrane commented on #138
Awesome, thank you @aleksihakli and @jezdez closing now.

[2019-11-24 22:01] #138 closed

[2019-11-25 09:58] jezdez commented on #138
@kencochrane BTW, is it still accurate that django-defender is used on hub.docker.com?

[2019-11-25 12:34] kencochrane commented on #138
@jezdez I’m not sure. I don’t work there anymore so it is hard to know. I’ll see if I can find out.

[2019-12-20 15:48] simoncrowe opened #150 "Support for redis>=3"
This is a simple request but I don't know how complicated the difference in major version makes it to implement.

The context is that I was looking at this project as a potential solution for the company I work for and can't use it as we have redis pinned to 3.2.1.

[2019-12-20 18:57] kencochrane commented on #150
@simoncrowe it should work fine with Redis 3. If you it, and it didn't work, please let us know what happened so we can fix it.

[2019-12-20 19:13] simoncrowe commented on #150
Sorry, now that I look at setup.py, everything should work.  For some reason I got compatibility warnings from pip. I'll have to have another look when I'm back in the office.

[2019-12-20 19:13] #150 closed

[2020-02-05 22:39] deeprave opened #151 "Support for Django 3.0"
Django 3.x has dropped support for python2, and using this module on django 3 is not currently possible due to the (now) undefined django.utils.python_2_unicode_compatible, which needs a workaround so that this function does not get called/referenced when it does not exist.

Since I think this app is handy and don't want to deploy without it, so I will submit a PR if required in the next couple of

[2020-02-06 16:02] muneeba-mughal opened #152 "Support for other LOGIN_URLs"
Hi there! I'm using django-defender in my Django project that also supports two factor authentication and that means my login urls are not default `accounts/login` but the a custom login route `account/login`.
It would be really nice to have some way to configure login url dynamically with `django-defender` as well. AFAIK, there is no way to configure django-defender this way. IMO, it would be goo

[2020-02-07 17:03] muneeba-mughal commented on #152
Nevermind! I resolved the issue by adding the decorator `watch_login` to my custom view. However adding some documentation is a great idea.

[2020-02-07 17:04] muneeba-mughal commented on #152
Nevermind! I resolved the issue by adding the decorator watch_login to my custom view. However adding some documentation is a great idea.

[2020-02-07 17:04] #152 closed

[2020-02-09 17:56] kencochrane commented on #152
@muneeba-mughal I'm glad you figured it out, If you can give us an example of how you fixed it, we can add it to the docs. Even better, if you could submit a PR to add it to the docs that would be wonderful.

[2020-02-09 17:58] kencochrane commented on #151
@deeprave Thank you for the heads up, I don't know of anyone else working on this issue, so if you can submit the PR when it is ready, that would be awesome. Let us know if you have any questions, or need any help.

[2020-02-12 11:11] hsenot commented on #151
@deeprave that sounds like a great idea. Just tumbled on the incompatibility today so would definitely welcome a solution. Happy to test it at my end too if needed. Thx for this great project!

[2020-02-23 19:35] kencochrane commented on #151
The PR #153 closes this out.

[2020-02-23 19:35] #151 closed

[2020-02-23 20:47] kencochrane commented on #151
Version 0.7.0 was just released with these changes.

[2020-03-03 09:52] calmkart opened #156 "support special character in redis password"
if we have special character in redis password (such like 'calmkart#@!')
we can't urlparse it well.

so i add a new pr #155
add a param `DEFENDER_REDIS_PASSWORD_QUOTE`
if we have special character in redis password, we can `urllib.quote_plus("password#@!")` it , and set the `DEFENDER_REDIS_PASSWORD_QUOTE` to True.

[code]

This will enable support for special characters in redis passwords.

[2020-03-13 12:14] kencochrane commented on #156
Closed in #155

[2020-03-13 12:14] #156 closed

[2020-04-21 10:55] Hamza-Lachi opened #158 "AttributeError: module 'mockredis' has no attribute 'mock_strict_redis_client'"
I Run This Command

from your documantation to check is it working correctly

but i always get this issue:

[code]
python == Python 3.7.5
django == Django 3.0.5

[2020-04-21 11:03] kencochrane commented on #158
What version of mockredis do you have installed?

[2020-05-13 05:46] Hamza-Lachi opened #159 "Django Defender is not working on my userlogin view"
in my admin it's work correctly

but in my app  views, it didn't show any access attempts and not blocking any IP and username

[2020-05-13 09:46] kencochrane commented on #159
Are you using the built in django LoginView or do you have something custom for handling your logins?

[2020-05-20 06:14] Hamza-Lachi commented on #159
I had my own login function in my views

[2020-05-20 10:09] kencochrane commented on #159
Ok, since you have a custom view you will need to wrap your view with the decorator, or add all the different logic into your login view manually.

Did you try that already?

[2020-05-23 15:07] Hamza-Lachi commented on #159
Sorry, I can't understand

[2020-05-23 15:24] kencochrane commented on #159
Is it working now or do you still have an issue?

[2020-05-23 15:25] Hamza-Lachi commented on #159
I still have if I use Django built-in login system it works correctly but if I use my login function it doesn't work

[2020-05-24 17:29] Hamza-Lachi commented on #159
hey

[2020-05-27 14:38] kencochrane commented on #159
@Hamza-Lachi You will need to either add Django defender directly to our  custom login function like it shows in the docs here: https://django-defender.readthedocs.io/en/latest/#adapting-to-other-authentication-methods

Or you can use the [watch_login](https://github.com/jazzband/django-defender/blob/v0.7.0/defender/decorators.py#L6) decorator directly on your login view in the URLs file like you

[2020-05-27 14:39] kencochrane commented on #158
@Hamza-Lachi is this still an issue? If not, I'm going to close.

[2020-06-23 06:55] Hamza-Lachi opened #161 "always showing localhost django defender"
I deploy my website to ubuntu server with gunicorn and nginx but when I notice the Django defender is always getting 127.0.0.1 IP

and when someone gets blocked the whole website user blocked because only 1 IP address Django defender always getting localhost IP

here is a ScreenShot

![Screenshot from 2020-06-23 02-50-36](https://user-images.githubusercontent.com/53256322/85370513-d403d280-b4fc-11

[2020-06-23 10:16] kencochrane commented on #161
@Hamza-Lachi do you have NGINX passing along the HTTP_X_FORWARDED_FOR header to your Django app? If you are using a reverse proxy that is where defender will look for the correct address.

Here is an example of the nginx config.

[code]

Another possible issue is that you might be using a different name for your header, if so you will need to change the name by using the following setting.

DEFEND

[2020-06-23 10:56] Hamza-Lachi commented on #161
I'm also getting the IP from my app

with this code
`ip = request.META.get('REMOTE_ADDR')`

is this possible to change

DEFENDER_REVERSE_PROXY_HEADER to REMOTE_ADDR

[2020-06-23 11:12] kencochrane commented on #161
If you trust that the data in that header is correct, you could change the setting to use it and see if it works for you. If it does, then you should be good to go.

[2020-06-23 11:16] Hamza-Lachi commented on #161
sorry that also dosen't work

here is my Nginx settings:

[code]

[2020-06-23 11:34] Hamza-Lachi commented on #161
this is the piece of the code I'm using to get IP

[code]

and I'm getting IP from that code

why Django defender can't get right IP
I also change `DEFENDER_REVERSE_PROXY_HEADER` to `REMOTE_ADDR` but nothing worked
please help me

[2020-06-23 16:54] kencochrane commented on #161
That's weird that you are getting it correctly from code, but not from Defender.

What do you have for the `DEFENDER_BEHIND_REVERSE_PROXY` setting, did you set it to True since you are behind Nginx? If not, go ahead and add that, and see if it works.

Here is the code, which looks similar to yours.
https://github.com/jazzband/django-defender/blob/master/defender/utils.py#L46-L55

[code]

[2020-06-23 17:35] Hamza-Lachi commented on #161
okay it's working after doing this

DEFENDER_BEHIND_REVERSE_PROXY = True

[2020-06-23 17:35] #161 closed

[2020-07-03 01:00] NMelis commented on #158
I also catch this exception :(
mockredis==0.1.3dev
Django==2.2.1
Python 3.8.2

[2020-07-03 01:11] NMelis commented on #158
Oops... I loser!
I installed mockredis. But need mockredis**py**

[2020-07-12 17:10] fendyfy opened #162 "how to use with django rest framework token auth?"
How to use django defender with django rest framework token auth?
Its not getting failed attemps on token auth

[2020-07-25 13:58] kencochrane commented on #162
I'm not sure, you would probably need to have a custom auth for DRF that plugs into defender.

Do you have it working for regular auth right now? Or are you trying DRF first?

Here is docs for how people used to do it with django-axes https://django-axes.readthedocs.io/en/latest/6_integration.html#integration-with-django-rest-framework if you find a working solution, let us know so we can update t

[2020-08-09 01:34] sumanthratna commented on #151
Sorry for commenting on an old thread, but I think the README should be updated. https://github.com/jazzband/django-defender/blob/master/README.rst#requirements says:

This is a really useful package; I was disappointed for a second when I saw that the README said no Django 3 support.

[2020-08-10 00:17] kencochrane commented on #151
@sumanthratna I updated the README to include support for Django 3.

[2020-09-02 15:09] sepehr-akbarzadeh opened #164 "Update version support problem"
Django Defender does not support version 3.1.1 of django.
[code]

[2020-09-04 19:14] kencochrane commented on #164
Thanks for letting us know. We just need to change the value in the setup.py so that it works with django 3.1.x. If someone can submit a PR I can review and merge.

[2020-09-17 20:46] caleb15 opened #165 "Is django-defender faster than django-axes with a redis cache?"
Now that django-axes has a option to have a redis cache, what is the performance difference between django-defender and django-axes with a redis cache?

https://django-axes.readthedocs.io/en/latest/4_configuration.html?highlight=cache#configuring-handlers

[2020-12-04 22:31] ashmlk opened #173 "django-defender not working on my custom login view"
Hello, I am trying to add `watch_login()` decorator to y custom login view however, my user is still able to login after passing the lockout limit which I currently set to 3.

My current settings is:

[code]

And my custom login is:

[code]

And for my cache I am using Redis so currently, I have:

[code]

I do not see any errors except that the django-defender is doing nothing I was wondering how

[2020-12-05 12:58] kencochrane commented on #159
@Hamza-Lachi can we close this issue?

[2020-12-05 12:59] kencochrane commented on #165
Not sure, I haven't tested, if you test it out, please let us know what you find.

[2020-12-05 13:04] kencochrane commented on #173
If you are logging access attempts are you seeing any entries in the database for you login attempts?

[2020-12-05 13:47] ashmlk commented on #173
No I am not saving the logs in the database, I believe the issue may be my `watch_login()` decorator?

[2020-12-05 15:11] kencochrane commented on #173
What version of defender, Python, and django are you using?

Maybe use the decorator on the urls.py like shown here?

https://stackoverflow.com/questions/5796897/wrapping-decorating-a-function-in-urls-py-vs-in-views-py/5797020#5797020

[2020-12-05 15:13] ashmlk commented on #173
My python version is 3.8, Django version is 3.0, and my defender is 0.8.0.

I have already tried wrapping it around in my urls.py I still get the same error `function' object has no attribute 'get'`

[2020-12-05 21:57] kencochrane commented on #173
There might be an exception getting thrown from the decorator that is causing this error, can you post the full stack trace?

[2020-12-05 22:20] ashmlk commented on #173
I was able to fix this issue. The problem was that inside my `login` function I was redirecting to the login page again which was causing the `watch_login()` decorator to never return true on this condition: [https://github.com/jazzband/django-defender/blob/a1d526f3187d2d86152edec537b012bca3495794/defender/decorators.py#L29-L34](url)

So now my login view is:

[code]

I think this issue can be mar

[2020-12-05 22:23] kencochrane commented on #173
I'm glad you have it working, feel free to close this issue unless there is something else we can help you with.

[2020-12-05 23:51] ashmlk commented on #173
There is still a slight issue with this approach, since I am not redirecting to a new page, the form data in the POST request will not change eventually causing duplicate form submissions, now I do not know how to redirect to a page while keeping the status of the HttpResponse, therefore, I believe this issue should remain open.

[2020-12-06 00:25] ashmlk commented on #173
There is a slight issue with this approach and it is that that when we do not redirect after incorrect credentials, the POST form fields are not cleared from the browser and can cause the duplicate submission of the form. Django redirects with status code 302 on the wrong login, however, here: https://github.com/jazzband/django-defender/blob/a1d526f3187d2d86152edec537b012bca3495794/defender/decora

[2020-12-06 00:28] kencochrane commented on #173
OK, have you looked at how the official Django login view handles it, maybe you can copy what they did to get yours working correctly.

[2020-12-06 19:03] ashmlk commented on #173
I have taken a look at Django's LoginView and it seems that after failed login, Django renders the form with the error messages which means that the previous POST parameters are still saved on the browser. As far as my understanding this seems to be an odd issue with `watch_login()` which if we redirect on failed login with status 302 the behaviour of `watch_login()` will cause it to never return

[2020-12-21 12:18] aleksihakli opened #175 "django-redis-cache has dropped support for Django < 3.0"
I noticed django-redis-cache has dropped support for Django < 3.0 but we provide support for Django 2.2 LTS in this project:

https://github.com/sebleier/django-redis-cache

Would django-redis be more suitable for use in django-defender? It uses mostly the same settings, but supports a wider variety of Django versions:

https://github.com/jazzband/django-redis

[2020-12-21 15:40] kencochrane commented on #175
If they are compatible, then I think that seems like a reasonable change.

[2021-03-19 12:54] nortigo opened #178 "Translation"
Hi,

I noticed there is no translation. Is there any reasons for that?

[2021-03-20 10:43] kencochrane commented on #178
No, not really. We just haven't had the time. If someone wants to contribute, we are more than willing to accept the PR.

[2021-03-28 23:34] VentGrey opened #180 "Installation fails if performed in a pipenv"
The installation process fails at the migration level, when executing `python manage.py migrate defender` at this point the process fails due to an unexisting module:

[code]

Version: Pypi (Installed using `pipenv install django-defender`), redis is installed as well.

[2021-03-29 01:25] kencochrane commented on #180
That is weird, I'm not sure where defendercore is coming from. Can you give more of the stack trace?

[2021-04-08 14:58] paveu opened #182 "The latest pip release does not support Django 3.2"
any future release plans ?

[2021-04-20 18:35] pembo13 commented on #182
I don't see anything in the changelog that's obviously in conflict with django-defender

[2021-04-22 09:02] #182 closed

[2021-04-25 16:44] N1K1TAS95 opened #183 "Django 3.2"
Is it possible to update pip repository to have Django 3.2 support? @kencochrane

[2021-04-25 23:49] kencochrane commented on #183
@N1K1TAS95 complete https://pypi.org/project/django-defender/

[2021-04-25 23:49] #183 closed

[2021-04-28 22:32] JonathanWillitts opened #184 "Tox tests failing for `djmain` (Django 4.0) environment because of deprecated/removed items"
The tox tests for the `djmain` (Django 4.0) environment are currently failing because of two issues:

### 1) Removal of 'django.utils.translation.ugettext_lazy()' in Django 4.0

From Django 3.0 `django.utils.translation.ugettext_lazy()` is deprecated in favor of the function that it's an alias for, `django.utils.translation.gettext_lazy()`.  Source: [Django 3.0 release notes](https://docs.djangopr

[2021-04-29 10:50] #184 closed

[2021-07-08 19:59] shivamspj opened #186 "How to use defender to work with drf obtain token?"
Django defender only applicable to admin site, Its not working  for drf authentications. Please elaborate on that,

[2021-07-13 11:02] jpsingleton opened #187 "New release scheduled?"
Hi,

I was wondering when a new release was planned? Keen to get the Django 4.0 fix from https://github.com/jazzband/django-defender/issues/184.

Thanks!

[2021-07-18 14:07] kencochrane commented on #187
Sorry for the delay the [0.9.1 release](https://pypi.org/project/django-defender/) has been made and now available on pypi.

[2021-07-18 14:07] #187 closed

[2021-07-19 03:27] ethankleinman commented on #180
Double check you have a comma after `defender` in your `settings.INSTALLED_APPS`:
[code]

[2021-07-19 08:03] jpsingleton commented on #187
Awesome, thanks.

[2021-07-20 22:07] VentGrey commented on #180
I had it, installed. I ended dropping if in favour of django-axes, sorry for the late response :)

[2021-07-20 22:07] #180 closed

[2021-07-27 19:29] thinkt4nk opened #188 "IP backdoor to DEFENDER_LOCK_OUT_BY_IP_AND_USERNAME from unblocked username"
As I understand it, enabling `DEFENDER_LOCK_OUT_BY_IP_AND_USERNAME` should act as a blocking topic that amounts to the intersection of a blocked IP _and_ blocked username. However, if a user/IP is blocked, and an unblocked user from the same IP logs-in successfully, it clears the IP block and allows the previously blocked user to log in immediately. My stack trace is shown below, where I just logg

[2021-08-03 14:16] #188 closed

[2021-08-23 20:25] satyam-seth opened #190 "defender_blocks_view page not found"
<html>
<body>
<div id="summary" style="padding: 10px 20px; margin: 0px; border-bottom: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 204); color: rgb(0, 0, 0); font-family: sans-serif; font-size: small; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: n

[2021-09-02 05:49] rahul-1311 commented on #190
i am also facing same issue

[2021-09-19 21:56] nupur2099 commented on #60
how to write 60° in python because ° sign show error Your submission contains non ASCII characters, we don't accept submissions with non ASCII characters for this challenge.

[2021-09-22 02:25] akas128 commented on #159
how  Django defender will help in OTP based login app?

[2021-09-23 17:28] akas128 commented on #186
I think yes, Django defender is only applicable to the admin site.

[2021-10-09 07:26] #190 closed

[2021-10-20 13:39] panosangelopoulos opened #192 "New migration is necessary"
Hi,

I just noticed a new migration file is necessary for the project.

[code]

[2021-11-18 21:40] tbrlpld opened #195 "Missing `AppConfig.default_auto_field` definition"
When using `django-defender` with Django 3.2, I am seeing the following warning being thrown:

[code]

A possible work around as mentioned in the warning is to define the `DEFAULT_AUTO_FIELD` setting.

Since this is a library for Django, it would be nice if it does not throw warnings when used with a supported Django version. The fix would be, as mentioned in the warning, to create an `AppConfig`

[2021-11-18 21:49] kencochrane commented on #195
@tbrlpld Thanks for the heads up. Feel free to submit a PR with your proposed changes and we can review. If they look good and all tests pass, we can merge and push out a new release. Thanks!

[2021-12-05 13:33] agusmakmun opened #196 "Inconsistent results when working with unitest/pytest"
Here is my test:

[code]

And the results of my test is:

### First run

[code]

### Second run

[code]

[2021-12-13 20:01] #195 closed

[2021-12-13 22:55] wm3ndez commented on #192
Hey @panosangelopoulos — this bug was fixed with PR https://github.com/jazzband/django-defender/pull/197

[2021-12-13 22:55] #192 closed

[2022-01-05 05:29] dopry commented on #124
@bpsgit  did you ever figure this out?

[2022-01-05 07:46] dopry commented on #124
I just figured out how to use it with the OAuthResourceOwnerPassword grant type... I needed to implement a CustomOAuth2Validator, and override the proper method for the login validation used by the grant type... There was one major gotcha, OAuthLib/OAuthToolkit have a different request class than django that doesnt have META, so I needed to shim that... and I also needed to figure out which errors

[2022-01-13 15:09] ashrafemad opened #200 "Storing login_valid with False on successful custom login"
I've added `watch_login()` decorator to my custom login class and i saw it always storing `login_valid` on db as False

i found that my view returns status_code 200 and not 302 so i added status_code argument to `watch_login(status_code=200)`  and it's still login_valid is False

Looking at the package source code i found this `defender/decorators.py`

[code]

i think in the else block we need to

[2022-01-17 17:40] kencochrane commented on #200
@ashrafemad thanks for finding this. It has been a while since I looked at that code, but I think you are right. Feel free to submit a PR with the proposed change, and we can review and merge. If possible, maybe add a unit test to confirm it is working as it should, and we make sure we don't regress in the future. Thanks again.

[2022-02-25 22:22] thomasjbradley opened #204 "Prevent multiple password reset submissions"
Is there a way to adapt this for the PasswordResetView? I want to prevent brute-force submissions to that view also.

I’ve tried looking around and can’t find any specific answer. Hoping someone has maybe done this before.

Maybe subclass `PasswordResetView` and overwrite the `dispatch` method and check for `is_already_locked` or something.

Thanks for your time.

[2022-02-27 03:21] hashlash commented on #165
I'm considering to help with the test, but I'm not really familiar yet with load testing. Does the previous load testing available to be viewed (the code and the expected result)?

Based on [the docs](https://github.com/jazzband/django-defender#load-testing):

[and](https://github.com/jazzband/django-defender#results-of-load-tests):

It seems that there was a plan to provide the load testing confi

[2022-02-28 15:34] thomasjbradley commented on #204
If any one else is interested, this is what I came up with & seems to work as I expect.

Use these overwritten views in your URLs instead of the Django built-ins:

[code]

[2022-03-02 11:39] kencochrane commented on #204
@thomasjbradley thank you for figuring it out. Would you mind adding what you found to the README so that it will be easier for people to find in the future?

[2022-03-21 11:40] oOkeOo opened #208 "cleanup_django_defender has no effect"
Hi,
I'm facing an issue with the `cleanup_django_defender` command. It says
`Starting clean up of django-defender table
Finished. Removed 0 AccessAttempt entries.`
This is while I can see the list of my attempts over the web interface but not the block-list (empty).
All block functions work but unfortunately I can't delete entries manually due to the given error.

Thanks for helping me. Please let

[2022-03-21 12:52] oOkeOo commented on #208
Please delete. Fatal mistake.

[2022-03-21 12:52] #208 closed

[2022-04-18 23:44] ericls commented on #196
Does flushing redis after each run help?

[2022-04-24 07:12] leloc55 opened #212 "I use watch login for my login view but in database not get user(None) and return only locked ip. How to get user."

[2022-04-26 10:35] mergengerel commented on #96
Hi,
still does not work.

<img width="233" alt="Screen Shot 2022-04-26 at 6 34 55 PM" src="https://user-images.githubusercontent.com/3488238/165281590-0dacf715-bd57-4cfd-b27a-c2efa6453caa.png">

[2022-04-26 10:36] mergengerel commented on #96
[code]

[2022-04-29 23:16] ndrsn opened #213 "Fails to block on IP when X-Forwarded-For includes port information"
## Problem

We've set `DEFENDER_BEHIND_REVERSE_PROXY = True`, as well as `DEFENDER_LOCK_OUT_BY_IP_AND_USERNAME = True` to prevent a single user from blocking all the other users from logging in.

But: our application is behind an Azure Application Gateway. This [includes IP port information](https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-url#remove-port-information

[2022-04-30 10:06] kencochrane commented on #213
@ndrsn thanks for reporting this. I agree with your assessment and option 3 seems like the way to go. If you submitted a PR, yes we would accept it. Just make sure you include unit tests for the different use cases (ipv4, ipv6, with and without ports)

It should be pretty easy to determine if the IP is ipv4 or v6, and parse accordingly (https://stackoverflow.com/questions/47738068/regex-for-splitt

[2022-05-02 11:42] #213 closed

[2022-06-10 12:27] jab3z opened #219 "0.9.5 doesn't work without defining password for redis anymore"
Hello!

After upgrading to 0.9.6 if no password defined for redis url will throw an error:

`redis.exceptions.DataError: Invalid input of type: 'NoneType'. Convert to a bytes, string, int or float first.
`

`redis.exceptions.AuthenticationWrongNumberOfArgsError: wrong number of arguments for 'auth' command
`
On 0.9.4 works fine.

BR,
Dacian

[2022-06-19 22:47] kencochrane commented on #219
Most likely relates to #218

@erdos4d any ideas?

[2022-06-19 22:57] #164 closed

[2022-06-24 14:58] banderoz commented on #219
I'd like to add more details about the issue that @jab3z described above.

If there are no username and password in a redis url, `django-defender` sets username to 'default' and password to `None` by default.
Since the username is not `None` or an empty string, redis-client tries to authorize and raises `AuthenticationWrongNumberOfArgsError` and `DataError`.

IMO, a way should be added to specify

[2022-06-24 16:32] erdos4d commented on #219
I'm on Ubuntu 22.04 with a clean install of redis 6.0.16 and defender at 0.9.5. I can set `DEFENDER_REDIS_URL` to `redis://127.0.0.1:6379` and it works fine, I can login to the admin and see the attempt. By my reading of the code, this should set username as `default` and password as `None` in the StrictRedis constructor. Am I missing something to reproduce this? Can someone share a url/config tha

[2022-06-24 20:57] banderoz commented on #219
@erdos4d forgot to mention, `redis://127.0.0.1:6379` works fine for me too. I get the error while using a real production redis url, something like `redis://abc.def.amazonaws.com:6379/1`. Redis v5.0.6 and redis-client v4.3.3 are used in production.

[2022-06-24 21:13] jab3z commented on #219
Hello,

I haven't debugged why and how the error occurs, simply found the faulty package, checked the release log to not have major changes and reverted to the old version.

Tested only locally, but the following Redis URLs were throwing the error when login into admin:

[code]

Let me know if you'd like me to raise a PR with the fix.

BR,
Dacian

[2022-07-27 14:54] LuberLinder commented on #219
That error happend to me too and also only on the production server. What I did was:

1. Setting password "mypassword" for redis on the server (by editting `/etc/redis/redis.conf` or via redis-cli):
[code]
2. Adding DEFENDER_REDIS_URL to Django's `settings.py`:
[code]

To see blocked users/ips:
[code]

That it. To quick check, for example, does the user "admin" is blocked:
[code]

To quick quick u

[2022-08-05 03:46] gabriel-tessier opened #220 "Block by group of users with their own settings."
Hi,

We have an application that is used by different groups which have users.
The problem is now that django-defender can be activated on all the application with common settings, is there an easy way to block only by group and each group have his own settings.

[2022-08-30 12:42] Babarberousse opened #222 "Standardize redis url parsing"
Hi,
At the moment I'm not really sure if django-defender is compatible with redis through unix socket.  django-defender uses a custom `parse_redis_url` function (https://github.com/jazzband/django-defender/blob/bb122f24b9e93b2116459fb8f4ea17cdf46ad557/defender/connection.py#L47).
This results in the following parsing error when using `DEFENDER_REDIS_URL = "unix://run/redis/redis.sock" ` :

[code]

[2022-08-31 11:06] kencochrane commented on #222
I think that makes sense. If you submit the PR, please also add the unit tests to cover socket and URL based redis urls.

I have to check which redis version we require today, to see if that is a big jump or not. If too big I wonder if we make a larger bump to the version so people are aware it is a bigger change.

[2022-10-02 18:46] djmore4 opened #223 "Configuration enhancements for cache lifetime and user lockout period"
This is a proposal for multiple (in my opinion) enhancements in the functionality available for configuration by django-defender.

### Proposals

First and foremost, in the documentation we can see reference to `DEFENDER_COOLOFF_TIME`.

```DEFENDER_COOLOFF_TIME: Int: If set, defines a period of inactivity after which old failed login attempts will be forgotten. An integer, will be interpreted as a

[2022-10-02 19:11] kencochrane commented on #223
@djmore4 Thank you for submitting the proposal.

To help us better understand what you are proposing, do you have a use case you could share that you can't accomplish with the current settings that you hope to be able to do with the new proposed ones?

[2022-10-02 19:24] djmore4 commented on #223
Sure, thanks for the quick response @kencochrane! Currently the company I work for uses a user portal which is not accessible on the public web for our production deployments. We have been considering exposing these portals to the public web to help reduce configuration complexity, but along with that comes concern of course. In order to not seriously inconvenience our users, we have historically

[2022-10-02 19:48] kencochrane commented on #223
Thank you for writing that up, that makes sense. I work for a bank so I'm well aware of all the different requirements they add :)

Your proposal seems reasonable to me. I agree that we should make this as backwards compatible as possible. The new settings should be optional and if not set, are defaulted to the current way it works today.

I personally don't have time to work on this, would you be

[2022-10-02 19:54] djmore4 commented on #223
From a professional standpoint, I think I **_might_** have time in about a month if I can get this included in our scope of work though I'm really not sure how likely that is.

Outside of a professional capacity I'll probably start looking into the source code in case I end up being the one who makes the change. As I said though, if it doesn't happen from within my company it will probably take a

[2022-10-02 20:13] djmore4 commented on #223
Actually from what I'm seeing, the change shouldn't be _too_ bad, so I might be able to make the changes sooner than I thought. If anyone else wants to work on it they're welcome to but if I make any real progress on it I'll update here

[2022-10-02 22:51] djmore4 commented on #223
Question for you @kencochrane. I'm getting this error when trying to run the tests with either command mentioned in the documentation.
<img width="1680" alt="Screen Shot 2022-10-02 at 6 50 54 PM" src="https://user-images.githubusercontent.com/17936679/193479827-a9e80fa4-e27b-46fa-a3a5-641a979d1263.png">

[2022-10-03 13:21] djmore4 commented on #223
Alright, so I've worked past that by just adding the middleware it was complaining about to the test_settings.py file but now I find that there are a bunch of failures in the tests (specifically 34 on the base fork of the master branch and 36 in my branch off the fork).

Most of these seem completely unrelated to my changes given that as I said there seem to be 34 failures in the tests in the base

[2022-10-03 13:25] djmore4 commented on #223
Here are the errors I'm seeing
[errors.txt](https://github.com/jazzband/django-defender/files/9697856/errors.txt)

[2022-10-09 14:56] djmore4 commented on #223
@kencochrane please let me know when you get the chance. Also, is there any interest in trying to mitigate any potential performance impact of having this configuration set by storing at least some of this information in the cache? If so what kind of ttl would be acceptable in your eyes?

[2022-10-09 17:48] kencochrane commented on #223
sorry for the slow reply, looking at it now, I was able to reproduce what you saw locally.

[2022-10-09 18:31] kencochrane commented on #223
@djmore4 it looks like the docs are a little out of date, you will need to run `tox -v` to run the tests. It is assuming you have Redis running locally. I'm currently working on getting it setup with docker so it will run the same way as in our CI, but I have an appointment so I don't know if I will get done today. But I wanted to give you an update incase that was enough to get you unstuck.

[2022-10-11 13:04] kencochrane commented on #223
To give you an update on where I am.

It looks like when we switched over to using Github Actions, we switched to using Tox for the unit tests. Tox expects that you have multiple python versions installed locally, on a mac you can do this with pyenv.  When I run the unit tests with `mockredis` the tests seem to fail. If I start Redis up locally on port 6379, they pass fine. Not sure what broke the

[2022-10-11 14:00] djmore4 commented on #223
@kencochrane Ok thanks for the update, that's actually very helpful! What versions of python does it expect to have installed locally? Or will it let me know? I'll try it later regardless but if you know off-hand that would be great. Also is there a requirement on Redis version? I doubt it but I just wanted to check.

I'll try to get everything sorted and see if I can get it all passing locally bu

[2022-10-11 14:36] kencochrane commented on #223
As far as python versions go, I'm not 100% sure, but I assume the latest versions of 3.7, 3.8, 3.9, 3.10, and pypy3 at least that is what we have in the Tox configs.

I don't think we have a minimum redis version, I would assume at least 5.0, but 4.0 might even work.

[2022-10-11 14:40] djmore4 commented on #223
From what I've seen locally it works down even with 3.x Redis versions.

I'm having a bit of trouble with getting tox working locally and I'm realizing I may need to remake my changes because I made them from a fork of the repo. I'll see how that goes too though.

[2022-10-11 17:23] djmore4 commented on #223
@kencochrane there seems to be a problem with the github action as well... Unless I somehow broke something there, but I don't _think_ I did.

[2022-10-11 17:59] djmore4 commented on #223
Ok actually a little confused now. Maybe there was actually a bug still. Either that or something went wrong with the check. I added a second commit to the PR and the pre-commit.ci check passed in seconds but it doesn't seem to have re-run the test builds. Should I try to make a new PR?

[2022-10-11 19:04] kencochrane commented on #223
It looks like I need to approve the checks before they run since you are a first time contributor. Once I see the email I can go in an approve.

I think the same PR should be fine.

[2022-10-11 19:09] kencochrane commented on #223
It looks like there is an issue with celery.

If we add the following to the requirements.txt

importlib-metadata<5.0

It should fix that issue you are seeing.

[2022-10-11 19:12] djmore4 commented on #223
@kencochrane alright I just pushed the change to add importlib-metadata<5.0 to the requirements.txt file

[2022-10-11 19:20] djmore4 commented on #223
Alright, it seems to be working now. Looks like I have some tests to fix. Thanks for all the help @kencochrane

[2022-10-11 19:28] djmore4 commented on #223
No worries, one last question for you hopefully. The tests seem to be failing due to `self.test_valid_login()` not returning a 302. Any ideas on why that might be happening?

[2022-10-11 19:47] kencochrane commented on #223
Sorry, it has been a little while since I have been in this code. But my first guess would be probably something related to this? https://github.com/jazzband/django-defender/blob/master/defender/decorators.py#L6

since It defaults to 302.

[2022-10-12 20:06] djmore4 commented on #223
@kencochrane Alright I _think_ they _should_ work this time. If they don't I'm really starting to run out of ideas... I have a couple of theories as to why they might be failing at this point but I'm hoping I'm wrong because it would really be a drag

[2022-10-12 21:26] djmore4 commented on #223
@kencochrane I'm getting a bit frustrated to be honest with you. Is there anything that can be done to help fix the mockredis setup so I can at least try to test this locally? It's very difficult for me to pinpoint what is going wrong with just the failing assert statement from the tox logs... Maybe that means I should be writing my tests differently but I'm not sure. Any advice would be appreciat

[2022-10-12 21:38] djmore4 commented on #223
Also, as I mentioned tox seems to be problematic for me. Is it still possible to use the old testing methods? Those are at least runnable for me locally (though they aren't working as we discussed)

[2022-10-12 22:29] kencochrane commented on #223
Sorry for the trouble, I tried to fix it this weekend but I wasn't able to figure it out.

I'm not familiar with tox, someone added those tests, and I haven't used it enough to figure out how best to use it locally.

If I get time this weekend I'll see if I can figure out what is wrong with mockredis, not sure why that isn't working.

[2022-10-12 22:31] djmore4 commented on #223
Sorry, I'm not frustrated with you or anything. I just thought I had everything nice and tidy and this is being a thorn in my side ☹️

[2022-10-15 17:54] djmore4 commented on #223
@kencochrane I made some more changes to hopefully help me get to the bottom of the issue. Can you please allow the CI workflow to run for me?

[2022-10-15 18:03] djmore4 commented on #223
LOL wait... they're actually working now, that wasn't the plan haha. Ok I think I know what the problem was. I'm going to clean things up a little bit and see if doing things slightly more generically works as well. If it doesn't I'll probably make some adjustments to the code to allow for it

[2022-10-15 18:22] djmore4 commented on #223
@kencochrane Once more if you don't mind. I think we're almost done with this whole thing (at least for this PR)

[2022-10-15 18:37] djmore4 commented on #223
@kencochrane ok I think this should be the last one hopefully unless one of the new tests I added fail. Please also have a look at them if you don't mind because I'm not entirely clear on if it's meant to be a valid configuration option to have LOCKOUT_BY_IP_USERNAME set while also having either DISABLE_IP_LOCKOUT or DISABLE_USERNAME_LOCKOUT set to True. If it is, I'll need to make another adjustm

[2022-10-15 19:12] djmore4 commented on #223
And hopefully this will be the last question I'll need to ask. For some reason the test coverage logic logic wasn't recognizing that I did in fact add tests to handle many if not all of the lines I added to config.py so I needed to add the pragma: no cover comments to the lines so it wouldn't reject the PR based on test coverage. Any recommendations there?

[2022-10-15 19:24] kencochrane commented on #223
That's weird, not sure why that didn't work. The only thing that comes to mind is maybe something is getting cached?

I would have to look into the way we are figuring out the coverage with tox and see if there is some other config that needs to be changed. I wouldn't think so, but you never know.

[2022-10-15 19:46] djmore4 commented on #223
Ok, well https://github.com/jazzband/django-defender/pull/224 is ready for review and merging pending any recommended changes

[2022-10-16 14:31] djmore4 commented on #223
@kencochrane I think I figured out why the coverage was saying the lines weren't covered by tests. I think there was a misunderstanding on my part about how the `@patch(...)` decorator actually worked. For whatever reason, I expected that it would run through the appropriate logic to set the property but that must not be the case right? Otherwise I would expect the coverage tool to know what is go

[2022-10-30 14:37] djmore4 commented on #223
Hey @kencochrane, is there any plan to review and merge my Pull request any time soon or are we waiting on something from my end?

[2022-10-30 21:57] kencochrane commented on #223
@djmore4 sorry for the delay, things got busy, I'll review it now.

[2022-10-31 13:39] djmore4 commented on #223
@kencochrane Thanks for the review, I'll update it this week at some point

[2022-11-02 09:34] hiaselhans opened #225 "support builtin redis cache backend"
Django 4 has builtin support for redis.

https://github.com/django/django/blob/main/django/core/cache/backends/redis.py

[2022-11-12 15:36] djmore4 commented on #223
Hey @kencochrane sorry for the long delay I've been super busy. I'm looking to update the readme this weekend or shortly thereafter but I just wanted to clarify if you had a preference where the new example should go in the readme?

I feel as though it will be too much information to cram under the list headings in `Customizing django-defender` so would some addendum text be appropriate within tha

[2022-11-12 15:41] kencochrane commented on #223
What ever you think looks right. As long as it is all contained in the same README we should be good. Thank you!

[2022-11-12 20:55] djmore4 commented on #223
@kencochrane alright it's been updated once more. Hopefully it looks good to you but I'm happy to make more changes

[2022-11-13 15:03] djmore4 commented on #223
@kencochrane If you can let me know if there are any changes you want made today I'd really appreciate it because I don't really know when I'll have enough free time to take care of things next. If you can't then obviously it will just have to wait but if you get back to me I'm hoping I can take care of it today

[2022-11-13 15:34] kencochrane commented on #223
Sorry for the delay. This looks great, thank you.

[2022-11-13 15:35] djmore4 commented on #223
No worries, thanks for getting to it!

[2022-11-13 15:42] djmore4 commented on #223
Oh also I just thought of this but do you think it would be worth while to try to update the section of the README about running the tests? I'm not _exactly_ sure what should be written since I couldn't really ever get it working locally but it should probably be mentioned that those testing methods are out of date and contributors should use `tox` instead.

[2022-11-13 15:48] kencochrane commented on #223
I agree it should probably be updated, but like you, I haven't figured out how to get them running locally yet. But a minimum they should be updated to help prevent confusion.

[2022-11-13 15:52] djmore4 commented on #223
Right, sounds good. Do you want me to update it in this pull request or will that be done separately?

Also I was looking back through our conversation and noticed you mentioned the CI is using docker. Is there a base image that could be pulled down locally? Then we could maybe just inject code into the image and run the tests from within the container

[2022-11-13 15:55] djmore4 commented on #223
That would also greatly lower the bar for contributor setup since all you really need at that point is to have docker installed and either have well written docs on how to use it or have some rudimentary knowledge of working with docker generally.

[2022-11-13 16:08] kencochrane commented on #223
Let's keep it separate, and put into another PR, so it doesn't have to slow this PR down.

The tests are currently running in GitHub actions.

https://github.com/jazzband/django-defender/blob/dffa7c3ba3bbddc988d870b333a133921fcd3d07/.github/workflows/test.yml

I was thinking about getting the test setup to run in Docker to duplicate the GitHub actions locally. I just haven't had time to get it wor

[2022-11-13 16:09] djmore4 commented on #223
Got it, sounds good to me. Thanks!

[2022-11-13 16:10] djmore4 commented on #223
Thanks for the merge and support along the way @kencochrane

[2022-11-13 16:54] kencochrane commented on #223
You're welcome, thank you for taking the time to work on it. Sorry for my slow replies.

[2022-11-13 18:00] djmore4 commented on #223
@kencochrane so I was working on something to make make this even better at some point in the future and I found that there is another bug unfortunately (thankfully at least it seems completely unrelated to my changes as I can reproduce the behavior when using the current build on PyPi).

It seems the `Blocked Users` functionality on the defender admin page isn't functioning properly unfortunately

[2022-11-13 18:56] kencochrane commented on #223
Thanks for letting me know. Can you add that as a new issue and someone can take a look and see if they can fix it the next time they have some time. Hopefully it isn't that hard to fix.

[2022-11-13 18:59] #223 closed

[2022-11-13 18:59] djmore4 opened #226 "Blocked users admin page returns 404"
@kencochrane so I was working on something to make make this even better at some point in the future and I found that there is another bug unfortunately (thankfully at least it seems completely unrelated to my changes as I can reproduce the behavior when using the current build on PyPi).

It seems the `Blocked Users` functionality on the defender admin page isn't functioning properly unfortunately

[2022-11-13 19:00] djmore4 commented on #226
@kencochrane ^^

[2022-11-29 10:53] SyncBAND commented on #223
Hi @kencochrane and @djmore4.

I like the points suggested by @djmore4. They helped with a scenario I had to implement at my workplace as well but I tested them using `pip install git+http://github.com/kencochrane/django-defender.git#egg=django_defender`.

The issue is at my workplace they want us to use packages from pypi but when I install the package using `pip install django-defender==0.9.5`,

[2022-11-29 13:45] kencochrane commented on #223
@SyncBAND 0.9.6 has been released to pypi, let us know if that solves your problem. https://pypi.org/project/django-defender/

[2022-11-29 14:49] djmore4 commented on #223
@SyncBAND FYI I've also been working on some eventual improvements to the systems I introduced so that they will leverage the Redis cache better to improve performance and management through the admin page. However, until we can figure out what's wrong with https://github.com/jazzband/django-defender/issues/226 I don't believe I'll be able to include it

[2022-11-30 04:02] SyncBAND commented on #226
@djmore4 I also get the same error `path('admin/defender/', include('defender.urls')),` in the urls.py file. But when do add the path, it works as expected. Not sure if you get this error even when you've included the url path already?

<img width="837" alt="Screenshot 2022-11-30 at 04 58 01" src="https://user-images.githubusercontent.com/20128729/204704632-847fb8ac-adfb-4631-b688-a943d8ae578f.png

[2022-11-30 08:55] SyncBAND commented on #223
@djmore4 I've responded in the thread issue

[2022-11-30 15:36] djmore4 commented on #226
@SyncBAND Aha! That wasn't exactly the issue I was having but it was related and I've now solved it so thank you! For context, it appears that there was an ordering issue in my urls.py file so this can be closed. Thanks again, I'll get back to work implementing the cache utilization for the new separated and extended lockout functionality

[2022-11-30 15:36] #226 closed